{% extends 'shop/master/base.html' %}


{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/sdepop.css">
    <link type="text/css" rel="stylesheet" href="/static/js/layer/skin/layer.css">
{% endblock %}

{% block page_content %}
    <div class="main greyf5f5f5">
        {% if shop_list %}
            <form id="cartForm" noenter="1" method="post">
                {% csrf_token %}
                <div class="minwidth marT40">
                    <ul class="buySerList bordere0e0e0">
                        <li class="shopp-list">
                            <div class="shoppTitle">
                                <ol class="shoppFirst">
                                    <li class="goods">商品信息</li>
                                    <li class="unit-price">单价</li>
                                    <li class="shopp-num">数量</li>
                                    <li class="shopp-subtotal">小计</li>
                                    <li class="operation">操作</li>
                                </ol>
                            </div>
                            {% for line in shop_list %}
                                {# 产品 #}
                                {% if line.basic.type == 0 %}
                                    <ol>
                                        <li class="goods">
                                            <div class="textImgSeparation goods-text">
                                                <div>
                                                    <span>{{ line.basic.info.detail.0.p_name }}</span>
                                                </div>
                                                <div class="area">
                                                    <em>地区：</em>
                                                    <span>{{ line.basic.info.detail.0.city__name }}-{{ line.basic.info.detail.0.area__name }}</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="unit-price">
                                            <span class="productCprice">{{ line.basic.info.detail.0.p_price }}元</span>
                                        </li>
                                        <li class="shopp-num">
                                            <div class="numAddSubtract overflowhidden">
                                                <a class="subtract notChoose productReduce">-</a>
                                                <input class="t-productNum" value="{{ line.basic.info.number }}"
                                                       name="number"
                                                       style="width:40px;"
                                                       category="product"
                                                       p_price="{{ line.basic.info.detail.0.p_price }}"
                                                       vprice="0"
                                                       nid="{{ line.basic.info.pid }}" type="text">
                                                <a class="productAdd">+</a>
                                            </div>
                                        </li>
                                        <li class="shopp-subtotal">
                                            <span class="productTotalPrice"></span>
                                        </li>
                                        <li class="operation">
                                            <a class="shop_delete" href="javascript:void(0)"
                                               pid="{{ line.basic.info.pid }}">删除</a>
                                        </li>
                                    </ol>
                                {% else %}
                                    <div class="shoppPackage">
                                        <ol class="packageInfo">
                                            <li class="goods">
                                                <div class="textImgSeparation goods-text">
                                                    <div>
                                                        <span>【套餐】{{ line.basic.info.name }}</span>
                                                    </div>
                                                    <div class="area">
                                                        <em>地区：</em>
                                                        <span>{{ line.basic.info.detail.0.city__name }}-{{ line.basic.info.detail.0.area__name }}</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="unit-price">
                                                <span class="productCprice">{{ line.basic.info.cprice }}元</span>
                                            </li>
                                            <li class="shopp-num">
                                                <div class="numAddSubtract overflowhidden">
                                                    <a class="subtract notChoose productReduce">-</a>
                                                    <input class="t-productNum" value="{{ line.basic.info.number }}"
                                                           name="number"
                                                           style="width:40px;"
                                                           category="product"
                                                           p_price="{{ line.basic.info.cprice }}"
                                                           vprice="0"
                                                           nid="{{ line.pp_id }}" type="text">
                                                    <a class="productAdd">+</a>
                                                </div>
                                            </li>
                                            <li class="shopp-subtotal">
                                                <span class="productTotalPrice"></span>
                                            </li>
                                            <li class="operation">
                                                <a class="shop_delete" href="javascript:void(0)"
                                                   ppid="{{ line.basic.info.ppid }}">删除</a>
                                            </li>
                                        </ol>
                                        {% for raw in line.basic.info.detail %}
                                            <ol>
                                                <li class="goods">
                                                    <div class="textImgSeparation goods-text">
                                                        <div>
                                                            <span>{{ raw.p_name }}</span>
                                                        </div>
                                                        <div class="area">
                                                            <em>地区：</em>
                                                            <span>{{ raw.city__name }}-{{ raw.area__name }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="unit-price">
                                                    <span class="productCprice">{{ raw.p_price }}元</span>
                                                </li>
                                                <li class="shopp-num">

                                                        <span class="shopp-num-span t-pList-0"
                                                              pprice="{{ raw.p_price }}" vprice="0"
                                                              flag="1">{{ line.basic.info.number }}</span>

                                                </li>
                                                <li class="shopp-subtotal">
                                                    <span class="ppList">{% widthratio raw.p_price 1 line.basic.info.number %}</span>
                                                </li>
                                                <li class="operation">
                                                </li>
                                            </ol>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </li>
                    </ul>
                </div>
                <div class="minwidth">
                    <input id="haveCoupon" name="haveCoupon" value="0" type="hidden">
                    <div class="floatLeft coupon">
                        <a id="couponTitle" class="couponTitle floatLeft" href="javascript:;">
                            <i></i>
                            使用优惠券
                        </a>
                        <div id="couponHtml" class="floatLeft couponCont" style="display: none;">
                            <ul class="clearfix couponList">
                                <li class="active">填写优惠码</li>
                                <li class="couRi">查看我的优惠券</li>
                            </ul>
                            <div class="coupon-text overflowhidden">
                                <div id="coupon0" class="cou-text1 active">
                                    <div class="coupon-con">
                                        <input id="couponCode" class="cou-text-input" name="coupon[code]" value=""
                                               onkeydown="if(event.keyCode==13){ useCoupon(1); return false;}"
                                               placeholder="请输入优惠码" type="text">
                                    </div>
                                    <div class="fapiao-box-foot">
                                        <a class="butBlue" href="javascript:void(0)" onclick="useCoupon(1)">使用</a>
                                        <a class="butWhiteGreyborder" href="javascript:void(0)"
                                           onclick="cancelCoupon()">取消</a>
                                    </div>
                                </div>
                                <div id="coupon1" class="cou-text2">
                                    {% if coupon_obj %}
                                        <dl>
                                            {% for coupon in coupon_obj %}
                                                {% if coupon.coupon.type == 0 %}
                                                    <dd>
                                                        <input type="checkbox" name="coupon_id" value="{{ coupon.id }}" kind="0" price="{{ coupon.coupon.price }}">
                                                        立减{{ coupon.coupon.price }}元，有效期至{{ coupon.coupon.end_time|date:"Y-m-d" }}
                                                    </dd>
                                                {% else %}
                                                    <dd>
                                                        <input type="checkbox" name="coupon_id" value="{{ coupon.id }}" kind="1" price="{{ coupon.coupon.price }}">
                                                        满{{ coupon.coupon.price_reduction }}元减{{ coupon.coupon.price }}元，有效期至{{ coupon.coupon.end_time|date:"Y-m-d" }}
                                                    </dd>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    {% else %}
                                        <p style="font-size: 12px;color: #e85555;text-align: center;">未找到可使用的代金券</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="floatRight marT30 checkoutWrap marB40" style="position:relative;">
                        <ul class="checkout floatRight">
                            <li>
                                <span class="checkout-le">金额合计：</span>
                                <span class="checkout-ri">
                                <span id="totalPrice"></span>元
                            </span>
                            </li>
                            <li>
                                <span class="checkout-le">代金券抵扣：</span>
                                <span class="checkout-ri">
                                <span id="couponPrice">0</span>元
                            </span>
                            </li>
                            <li>
                                <span class="checkout-le">应付总额：</span>
                                <span class="checkout-ri">
                                <em id="totalPayPrice"></em>元
                            </span>
                            </li>
                        </ul>
                        <div class="marT30 floatRight">
                            <a id="orderButton" class="butpadding64 inlineBlock floatRight butRed">去结账</a>
                            <a class="butpadding21 inlineBlock floatRight butWhiteGreyborder marR20">继续购物</a>
                        </div>
                        <div class="invoiceWrap">
                            <div class="invoiceTip">
                                如何获取发票？
                                <div class="invoiceInner" style="display: none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="minwidth">
                <div class="cart-empty">
                    <h3>您的购物车还是空的！</h3>
                    <div class="btn">
                        <a class="inlineBlock butBlue" href="/">马上去购物</a>
                        <span class="inlineBlock"
                              style="font-size: 12px;color: #333;padding-top: 8px;vertical-align: top;">
                或查看
                <a href="{% url 'user_order' %}" style="font-size: 12px;">订单记录</a>
                </span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/shop.js"></script>
    <script src="/static/js/layer/layer.js"></script>

{% endblock %}