{% extends 'shop/master/base.html' %}


{% block page_content %}
    <div class="main greyf5f5f5">
    <form id="cartForm" noenter="1">
        <div class="minwidth marT40">
            <ul class="buySerList bordere0e0e0">
                <li class="shopp-list">
                    <div class="shoppTitle">
                        <ol class="shoppFirst">
                            <li class="goods">商品信息</li>
                            <li class="shopp-ser">服务商</li>
                            <li class="unit-price">单价</li>
                            <li class="shopp-num">数量</li>
                            <li class="shopp-subtotal">小计</li>
                            <li class="operation">操作</li>
                        </ol>
                    </div>
                    <ol>
                        <li class="goods">
                            <img class="floatLeft marL40 imgW50" src="http://cdn.kuaifawu.com/product/cart/236.png"
                                 alt="">
                            <div class="textImgSeparation goods-text">
                                <div>
                                    <span>工商年报公示</span>
                                </div>
                                <div class="area">
                                    <em>地区：</em>
                                    <span>北京-朝阳区</span>
                                </div>
                            </div>
                        </li>
                        <li class="shopp-ser">
                            <img class="floatLeft percentRadius50 imgW38"
                                 src="http://cdn.kuaifawu.com/provider/000/000/817/817.jpg" alt="">
                            <h3>赵静静</h3>
                        </li>
                        <li class="unit-price">
                            <span>199元</span>
                        </li>
                        <li class="shopp-num">
                            <div class="numAddSubtract overflowhidden">
                                <a id="productReduce_0" class="subtract notChoose" href="javascript:;"
                                   onclick="changeNum('product', -1, 0);">-</a>
                                <input id="productNum_0" class="t-productNum" value="1" onkeyup="numberFilter(this);"
                                       name="productnums[0]" style="width:40px;" category="product" key="0" pprice="199"
                                       vprice="0" data-productid="236" type="text">
                                <a href="javascript:;" onclick="changeNum('product', 1, 0);">+</a>
                            </div>
                        </li>
                        <li class="shopp-subtotal">
                            <span id="productTotalPrice_0">199元</span>
                        </li>
                        <li class="operation">
                            <a href="/cart/delete/type/product/key/0.html">删除</a>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="minwidth">
            <input id="haveCoupon" name="haveCoupon" value="0" type="hidden">
            <div class="floatRight marT30 checkoutWrap marB40" style="position:relative;">
                <ul class="checkout floatRight">
                    <li>
                        <span class="checkout-le">金额合计：</span>
                        <span id="totalPrice" class="checkout-ri">199元</span>
                    </li>
                    <li>
                        <span class="checkout-le">代金券抵扣：</span>
                        <span id="couponPrice" class="checkout-ri">0元</span>
                    </li>
                    <li>
                        <span class="checkout-le">应付总额：</span>
                        <span class="checkout-ri">
                        <em id="totalPayPrice">199元</em>
                        </span>
                    </li>
                </ul>
                <div class="marT30 floatRight">
                    <a id="orderButton" class="butpadding64 inlineBlock floatRight butRed" href="Javascript:;"
                       data-urlkey="">去结账</a>
                    <a class="butpadding21 inlineBlock floatRight butWhiteGreyborder marR20" href="/">继续购物</a>
                </div>
                <div class="invoiceWrap">
                    <div class="invoiceTip">
                        如何获取发票？
                        <div class="invoiceInner">
                            <span></span>
                            1、发票由为您提供服务的服务商所在公司开具； 2、服务完成后90天内，可联系服务商索取发票。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}