{% include 'user/master/_nav_top.html' %}
<div class="user-top">
    <div class="user-top-inner">
        <div class="user-logo">
            <a href="/" class="img" target="_blank"><img src="/static/images/icon/logo-white.png" alt="德盛业"></a>
            <span class="line"></span>
            <a href="{% url 'user_info' %}" class="tit">我的德盛业</a>
            <a href="/" class="return" target="_blank">返回首页</a>
        </div>
        <div class="user-tab">
            <ul>
                <li class="tab1 active">
                    <a href="{% url 'user_index' %}">我的主页</a>
                    <span class="arrow"></span>
                </li>
                <li class="tab2" style="margin-top: 7px">
                <dl>
                    <dt>
                        <span>账号设置</span>
                        <b></b>
                    </dt>
                    <dd>
                        <a href="{% url 'user_info' %}">个人资料</a>
                        <a href="{% url 'user_edit_phone' %}">修改手机号</a>
                        <a href="{% url 'user_edit_pwd' %}">修改密码</a>
                    </dd>
                </dl>
                <span class="arrow"></span>
                </li>
            </ul>
        </div>
    </div>
</div>