<div class="product-recommend floatLeft">
    <div class="product-details-content provider-list"></div>
    <div class="recommend-goods bordereaedec">
        <h2>相关产品推荐</h2>
        <div class="goods-list">
            {% for line in category_obj %}
                <dl class="goods-list-item">
                    <dt class="categoryTit">
                        <b class="active"></b>
                        {{ line.name }}
                    </dt>
                    <dd class="categoryList show">
                        {% for row in products_obj %}
                            {% if line.id == row.p_category_id %}
                                <p>
                                    <a href="{% url 'product_index' row.id %}" target="_blank">{{ row.p_name }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </dd>
                </dl>
            {% endfor %}
        </div>
    </div>
</div>