<div class="product-recommend floatLeft">
    <div class="product-details-content provider-list"></div>
    <div class="recommend-goods bordereaedec">
        <h2>相关产品推荐</h2>
{#        <div class="goods-list">#}
{#            <dl class="goods-list-item">#}
{#                <dt class="categoryTit">#}
{#                    <b class="active"></b>#}
{#                    国内商标#}
{#                </dt>#}
{#                <dd class="categoryList show">#}
{#                    <p>#}
{#                        <a href="/product/trademark.html" target="_blank">商标快速注册</a>#}
{#                    </p>#}
{#                    <p>#}
{#                        <a href="/product/danbaosbzc.html" target="_blank">担保商标注册</a>#}
{#                    </p>#}
{#                </dd>#}
{#            </dl>#}
{#            <dl class="goods-list-item">#}
{#                <dt class="categoryTit">#}
{#                    <b class="active"></b>#}
{#                    商标周边#}
{#                </dt>#}
{#                <dd class="categoryList show">#}
{#                    <p>#}
{#                        <a href="/product/design1.html" target="_blank">商标设计基础版</a>#}
{#                    </p>#}
{#                    <p>#}
{#                        <a href="/product/design2.html" target="_blank">商标设计经济版</a>#}
{#                    </p>#}
{#                </dd>#}
{#            </dl>#}
{#        </div>#}
    </div>
</div>