{% extends 'master_b/layout.html' %}

{% block page_content %}
    <p>
        <a class="btn btn-primary" href="">服务管理</a>
        <a class="btn btn-primary" href="">待分配服务</a>
    </p>
    <table class="table table-striped" id="tb_content">
        <thead>
            <tr>
                <td></td>
                <td>客户姓名</td>
                <td>客户手机</td>
                <td>企业名称</td>
                <td>服务名称</td>
                <td>服务开始时间</td>
                <td>服务结束时间</td>
                <td>状态</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" class="initialize btn" style="font-size: 12px">暂定服务</a>
                    <a href="" class="initialize btn" style="font-size: 12px">结束服务</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}