{% extends 'master_b/layout.html' %}
{% load cxmadmin_tags %}

{% block page_content %}
    {#    <p>#}
    {#        <a class="btn btn-primary" href="{% url 'service_order_add' %}">添加订单</a>#}
    {##}
    {#    </p>#}
    <table class="table table-condensed table-hover" id="tb_content">
        <thead>
        <tr>
            <td style="width: 20px"></td>
            <td>产品名称</td>
            <td style="width: 80px">价格</td>
            <td style="width: 100px">数量</td>
            <td style="width: 100px">金额</td>
            <td>状态</td>
            <td>姓名</td>
            <td>手机号码</td>
            <td>支付方式</td>
            <td>备注</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>

        {% for row in order_code_list %}
            <tr style="background-color: #bbccdd">
                {#                <td>{{ row }}</td>#}
                <td><input type="checkbox"></td>
                <td colspan="2">下单时间：{{ row.ctime|date:"Y-m-d H:i:s" }}</td>
                <td colspan="2">订单号：{{ row.order_code }}</td>
                <td><a class="glyphicon glyphicon-edit" code="{{ row.order_code }}" data-toggle="modal"></a></td>
            </tr>

            {% for line in order_obj %}
                {% if row.order_code == line.order_code %}
                    <tr>
                        <td></td>
                        <td>{{ line.product_name }}</td>
                        <td>{{ line.cPrice }}</td>
                        <td>{{ line.number }}</td>
                        <td>{{ line.total_price }}</td>
                        <td>{% get_status order_status_dict 'status' line.order_state %}
                        </td>
                        <td>{{ line.name }}</td>
                        <td>{{ line.phone }}</td>
                        <td>{% get_status order_status_dict 'payment' line.payment %}</td>
                        <td>{{ line.remark }}</td>
                        <td>

                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改订单状态</h4>
                </div>
                <div class="modal-body">
                    <form id="myForm" class="form-horizontal">
                        <input name="code" id="order_code" type="hidden">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">订单状态</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="status">
                                    <option value="1">支付成功</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">支付方式</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="payment">
                                    <option value="0">支付宝</option>
                                    <option value="1">微信支付</option>
                                    <option value="2">线下支付</option>
                                    <option value="3">网银支付</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="editSatus">保存</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            clickEditButton();
            clickSaveBuntton()
        });
        function statusResponse(arg) {
            if (arg.status == 200) {
                layer.msg(arg.message);
                window.location.href = '/admin/service/order.html'
            } else {
                layer.msg(arg.error_message);
            }
        }

        function clickEditButton() {
            $('.glyphicon-edit').click(function () {
                var code = $(this).attr('code');
                $('#myModal').modal('show');
                $('#order_code').val(code)
            })
        }
        function clickSaveBuntton() {
            $('#editSatus').click(function () {
                var data = $('#myForm').serialize();
                console.log(data);
                console.log(111111111111);
                api.codeStatusEdit(data, statusResponse)
            })
        }

    </script>
{% endblock %}