{% extends 'master_b/layout.html' %}

{% block page_content %}
    <p>
        <a class="btn btn-primary" href="">添加订单</a>

    </p>
    <table class="table table-striped" id="tb_content">
        <thead>
            <tr>
                <td></td>
                <td>产品名称</td>
                <td>价格</td>
                <td>数量</td>
                <td>金额</td>
                <td>状态</td>
                <td>姓名</td>
                <td>手机号码</td>
                <td>支付方式</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}