{% extends 'wap/base/base_weui.html' %}

{% block css %}
    <style>
        .aboutus_content {
            padding: .53333rem .29333rem;
        }

        .aboutus_content p {
            font-size: .5rem;
            color: #666;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="aboutus_content">
        <p>
            盛德业·企业一站式服务中心隶属于广东顺德盛德业科技有限公司经佛山市工商行政管理局批准成立的专门代理工商注册，商标注册与买卖服务，代理记账，商标注册，财税咨询，企业融资贷款，申请一般纳税人，代理进出口权较具实力机构之一，企业代办注册公司服务只要1元能办理注册公司服务帮您开创企业先河。我们盛德业位于顺德区大良云良路云路小学侧二楼整层，我们拥有250+平方米的办公场所，我们拥有顺德区财政局直发的代理记账许可证；您的选择不仅仅只是一项服务。
            <br><br><br>

            本公司成立6年拥有一支高素质、经验丰富、高水平的咨询顾问队伍，多名专业资深的注册会计师、税务师等专业人员提供不用资金，不用地址，直接注册公司，为您提供开业登记、纳税筹划、做帐报税、协助解决企业疑难等多项财税支持，为您调整合理的财税、成本控制，节约税务成本。<br><br><br>

            我们始终坚持“客户至上，诚信为本，价格合理”为宗旨，坚持独立，客观，公正，保密的原则，为广大客户提供全方位高效、专业、规范的优质服务。<br><br><br>

            盛德业企业一站式服务中心为您提供创业开设、企业融资、400号码办理、知识产权商标注册办理、法律顾问服务、会计专业代理记账报税等企业一站式服务机构；我们盛德业一个单位就帮你解决您公司商业问题。<br><br><br>
    </div>
{% endblock %}

