{% extends 'wap/base/base.html' %}

{% block css %}
    <style>
        .page-content {
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
        }

        img {
            width: 100%
        }
    </style>
{% endblock %}
{% block title %}德盛业-注册公司_代理记账_商标注册_一站式创业法律服务平台{% endblock %}
{% block content %}
    <nav class="nav">
        <a href="{% url 'wap_city' %}" data-v-88f15806="" class="button button-link left edge" style="color: black">
            {{ default_city.city }}
            <img src="/static/wap/images/home_top_xjt.png"
                 style="width: 10px;height: 6px;">
            {#            <span class="icon home_top_xjt" data-v-88f15806=""></span>#}
        </a>
        <a href="{% url 'wap_shopping' %}" data-v-88f15806="" class="button button-link right">
            {#            <span class="icon home_top_shopcar"></span>#}
            <img src="/static/wap/images/home_top_shopcar.png"
                 style="width: 20px;height: 20px;display: inline-block;margin: 10px">
        </a>
        <h1 data-v-ccf19036="" class="title">盛德业</h1>
    </nav>

    <div class="page-content">
        <a href="">
            <img src="/static/upload/focus/banner_2.jpg" height="160px">
        </a>
        <div class="grids grids-small">
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type1.png" alt="">
                </div>
                <p class="grid_label">
                    开公司
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type2.png" alt="">
                </div>
                <p class="grid_label">
                    财税服务
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type3.png" alt="">
                </div>
                <p class="grid_label">
                    注册商标
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type4.png" alt="">
                </div>
                <p class="grid_label">
                    办社保
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type5.png" alt="">
                </div>
                <p class="grid_label">
                    找律师
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type6.png" alt="">
                </div>
                <p class="grid_label">
                    办著作权
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type7.png" alt="">
                </div>
                <p class="grid_label">
                    申请专利
                </p>
            </a>
            <a href="#/page" class="grid">
                <div class="grid_icon">
                    <img src="/static/wap/images/home_type8.png" alt="">
                </div>
                <p class="grid_label">
                    全部分类
                </p>
            </a>

        </div>
        <a href="">
            <img src="/static/upload/focus/home_hotact.png" height="100px">
        </a>
        <div class="grids">
            <a href="javascript:;" class="grid" style="padding: 5px">
                <div class="grid_icon" style="height: 100px;width: 100%;margin: 0">
                    <img src="/static/wap/images/home_act1.jpg" alt="">
                </div>
            </a>
            <a href="javascript:;" class="grid" style="padding: 5px">
                <div class="grid_icon" style="height: 100px;width: 100%;margin: 0">
                    <img src="/static/wap/images/home_act2.jpg" alt="">
                </div>
            </a>
            <a href="javascript:;" class="grid" style="padding: 5px">
                <div class="grid_icon" style="height: 100px;width: 100%;margin: 0">
                    <img src="/static/wap/images/home_act3.jpg" alt="">
                </div>
            </a>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="item-inner ">
                        <div class="item-media"><img src="" width="88"></div>
                        <div class="item-content">
                            <div class="item-title-row">
                                <div class="item-title">有限公司注册</div>
                            </div>
                            <div class="item-text">
                                线上提交资料，为你快速注册公司
                            </div>
                            <div class="item-subtitle" style="color: red">
                                0元起
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-inner ">
                        <div class="item-media"><img src="" width="88"></div>
                        <div class="item-content">
                            <div class="item-title-row">
                                <div class="item-title">有限公司注册</div>
                            </div>
                            <div class="item-text">
                                线上提交资料，为你快速注册公司
                            </div>
                            <div class="item-subtitle" style="color: red">
                                0元起
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-inner ">
                        <div class="item-media"><img src="" width="88"></div>
                        <div class="item-content">
                            <div class="item-title-row">
                                <div class="item-title">有限公司注册</div>
                            </div>
                            <div class="item-text">
                                线上提交资料，为你快速注册公司
                            </div>
                            <div class="item-subtitle" style="color: red">
                                0元起
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-inner ">
                        <div class="item-media"><img src="" width="88"></div>
                        <div class="item-content">
                            <div class="item-title-row">
                                <div class="item-title">有限公司注册</div>
                            </div>
                            <div class="item-text">
                                线上提交资料，为你快速注册公司
                            </div>
                            <div class="item-subtitle" style="color: red">
                                0元起
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-inner ">
                        <div class="item-media"><img src="" width="88"></div>
                        <div class="item-content">
                            <div class="item-title-row">
                                <div class="item-title">有限公司注册</div>
                            </div>
                            <div class="item-text">
                                线上提交资料，为你快速注册公司
                            </div>
                            <div class="item-subtitle" style="color: red">
                                0元起
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="weui-footer" style="margin-bottom: 70px">
            <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
        </div>
    </div>

    {% include "wap/base/_footer.html" %}
{% endblock %}