{% extends 'master_b/layout.html' %}


{##}
{#{% block page_content %}#}
{#    {% include 'master_b/_aside_second_1.html' %}#}
{#    <div style="position: absolute; left: 100px;right: 0">#}
{#        <p>#}
{#            用户分配角色#}
{#        </p>#}
{#        <form method="POST">#}
{#            <select>#}
{#                {% for line in role_obj %}#}
{#                    <option value="{{ line.id }}">{{ line.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}