{% extends 'user/master/base.html' %}
{% if id == 0 or id == 1 %}
    {% block head %}
        <link type="text/css" rel="stylesheet" href="/static/js/layer/skin/default/layer.css">
    {% endblock %}
{% endif %}

{% block content %}
    <div class="uTop">
        <span></span>
        <h1>订单管理</h1>
    </div>
    <div class="uCont">
        <div class="tabWrap">
            <ul class="tables myProfile">

                <li {% if id == 0 %}class="current"{% endif %}>
                    <a href="{% url 'user_order' %}">全部订单</a>
                </li>
                <li {% if id == 1 %}class="current"{% endif %}>
                    <a href="{% url 'order_query' 1 %}">
                        待付款
                        {% if counts_dict.pending_pay %}
                            （<span style="color: red">{{ counts_dict.pending_pay }}</span>）
                        {% endif %}
                    </a>
                </li>
                <li {% if id == 5 %}class="current"{% endif %}>
                    <a href="{% url 'order_query' 5 %}">
                        待服务
                        {% if counts_dict.to_be_service %}
                            （<span style="color: red">{{ counts_dict.to_be_service }}</span>）
                        {% endif %}
                    </a>
                </li>
                <li {% if id == 15 %}class="current"{% endif %}>
                    <a href="{% url 'order_query' 15 %}">
                        服务中
                        {% if counts_dict.in_service %}
                            （<span style="color: red">{{ counts_dict.in_service }}</span>）
                        {% endif %}
                    </a>
                </li>
                <li {% if id == 25 %}class="current"{% endif %}>
                    <a href="{% url 'order_query' 25 %}">
                        服务完成
                        {% if counts_dict.service_completed %}
                            （<span style="color: red">{{ counts_dict.service_completed }}</span>）
                        {% endif %}
                    </a>
                </li>
            </ul>
            <div class="tabCont">
                <table class="orderManage">
                    <thead>
                    <tr>
                        <td width="12%">订单编号</td>
                        <td width="16%">产品信息</td>
                        <td width="16%">地区</td>
                        <td width="12%">支付信息</td>
                        <td width="12%">下单时间</td>
                        <td width="10%">当前状态</td>
                        <td width="10%">操作</td>
                    </tr>
                    </thead>
                    <tbody id="tb_content">
                    {% if order_obj %}
                        {% for post in order_obj %}
                            <tr for="{{ post.id }}">
                                <td>{{ post.order_code }}</td>
                                <td>
                                    <div class="ml20">
                                        <div>{{ post.product_name }}</div>
                                        <div>{{ post.cprice }}元</div>
                                        <div>x{{ post.number }}</div>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="verAlign">
                                        <div>优惠信息:{{ post.coupon }}元</div>
                                        <div>支付金额：{{ post.total_price }}元</div>
                                    </div>
                                </td>
                                <td>{{ post.ctime|date:"Y-m-d H:i:s" }}</td>
                                <td>【{{ post.get_order_state_display }}】</td>
                                <td>
                                    {# id=0 全部订单 #}
                                    {# id=1 待付款 #}
                                    {% if id == 0 or id == 1 %}
                                        {% if post.order_state == 0 %}
                                            <a class="toPay" target="_blank"
                                               href="{% url 'user_order_topay' post.id %}">去付款</a>
                                            <br>
                                            <span class="fc-curp relative cancelOrder">
                                                取消订单
                                                <div class="popShadow newWL">
                                                    <div>你确定要取消订单吗？</div>
                                                    <div class="mt10">
                                                        <a class="colorBg1 mr10 popBtn" href="javascript:void(0)"
                                                           onclick="cancelOrders({{ post.id }});">确定</a>
                                                        <a class="colorBg2 cancelBtn popBtn"
                                                           href="javascript:void(0)">取消</a>
                                                    </div>
                                                    <i class="arrow" style="top:-7px;right:26px;"></i>
                                                </div>
                                            </span>

                                        {% elif post.order_state == 1 %}
                                            <span>正在分配员工为您服务</span>
                                        {% elif post.order_state == 2 %}
                                            <a class="glyphicon glyphicon-search">查看进展</a>
                                        {% elif post.order_state == 6 %}
                                            <a class="toPay">评价</a>

                                        {% endif %}
                                    {% elif id == 5 or id == 15 %}
                                        <a class="glyphicon glyphicon-search" href="javascript:void(0)"></a>
                                    {% else %}

                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">暂无数据</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="wrapPage">
                <div class="pagesm"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="Model_process" style="margin-top: 100px">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">X</span></button>
                    <h4 class="modal-title">办理进度</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-left: 30px">
                        <ul id="orderlist-check-processlist" class="ocps-list"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn_save">保存</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/user_index.js"></script>
    {% if id == 5 or id == 15 %}
        <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    {% else %}
        <script src="/static/js/layer/layer.js"></script>
        <script>

            var cancelOrder = $(".cancelOrder");
            cancelOrder.click(function (event) {
                $(this).find(".popShadow").show();
                event.stopPropagation();
            });
            $(".popShadow").hover(function () {
                $(this).show();
            }, function () {
                $(this).hide();
            });
            $(".cancelBtn").click(function (event) {
                $('.popShadow').hide();
                event.stopPropagation();
            });
            function cancelOrders(id) {
                $.ajax({
                    type: "GET",
                    url: "/user/orders/cancelorders.html?id=" + id,
                    //dataType:'json',
                    //data: {'id': id},
                    success: function (arg) {
                        if (arg['status']) {
                            window.location.reload();
                        }
                        else {
                            alert(arg['message']);
                        }
                    }
                });
            }
        </script>

    {% endif %}
{% endblock %}