
body {
    background: #f5f5f5 none repeat scroll 0 0;
}
.paywayCon {
    background: #fff none repeat scroll 0 0;
    padding: 0 10px 20px;
}
.buyTop {
    height: 80px;
}
.buyTop h2 {
    color: #727171;
    float: left;
    font-size: 18px;
    line-height: 80px;
    text-align: left;
    text-indent: 14px;
}
.buyTop div {
    height: 100%;
    position: relative;
    width: 400px;
}
.buyTitle {
    color: #333;
    font-size: 18px;
    font-weight: normal;
    padding: 19px 0;
}
.buyProcess {
    background: #d8d5d5 none repeat scroll 0 0;
    height: 6px;
    margin-top: 50px;
    position: relative;
    width: 100%;
}
.buyProcess .ulli {
    background: #96c861 none repeat scroll 0 0;
    border-radius: 3px 0 0 3px;
    height: 6px;
}
.buyProcess .ulli-1 {
    width: 131px;
}
.buyProcess .ulli-2 {
    width: 252px;
}
.buyProcess .ulli-3 {
    border-radius: 3px;
    width: 100%;
}
.buyProcess li {
    color: #727171;
    font-size: 14px;
    line-height: 1;
    position: absolute;
}
.imgposit {
    background: rgba(0, 0, 0, 0) url("../images/icon/breadcrumb.png") no-repeat scroll 0 -612px;
    height: 18px;
    top: -6px;
    width: 16px;
}
.bimg1 {
    left: 75px;
}
.bimg2 {
    left: 192px;
}
.bimg3 {
    left: 310px;
}
.buyProcess .txetColor {
    color: #82ad56;
}
.liTxet1, .liTxet2, .liTxet3 {
    top: -28px;
}
.liTxet1 {
    left: 23px;
}
.liTxet2 {
    left: 157px;
}
.liTxet3 {
    left: 267px;
}
.bimgJust {
    background-position: 0 -644px;
}
.bimgOk {
    background-position: 0 -677px;
}
.buyIntroduction {
    height: 80px;
    line-height: 80px;
}
.buyIntroduction ul {
    margin-left: 25px;
}
.buyIntroduction li {
    color: #727171;
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 80px;
    margin-right: 60px;
}
.buyIntroduction em {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
}
.buyIntroduction img {
    margin-top: 11px;
}
.bordere0e0e0 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e0e0e0 #e0e0e0 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}
.buySerList {
}
.buySerList > li {
    background: #ffffff none repeat scroll 0 0;
    height: auto;
    overflow: hidden;
}
.buyBorder > li {
    margin-top: 1px;
}
.buyBorder .noBuyBorder {
    margin-top: 0;
}
.listLe {
    width: 15.3%;
}
.listRi {
    width: 84.6%;
}
.listLe > div {
    color: #444444;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}
.payListLe {
    width: 104px;
}
.payListRi {
    position: relative;
    width: 1076px;
}
.payListLe .payokWrap {
    padding: 35px 0 0 35px;
    text-indent: 0;
}
.payListLe .payokWrap img {
    height: 50px;
    width: 50px;
}
.package h4 {
    color: #565656;
    font-size: 14px;
    line-height: 1;
    margin: 14px 0 18px;
    text-align: left;
    text-indent: 14px;
}
.package p {
    color: #565656;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 34px;
    padding: 0 95px 0 46px;
    text-align: left;
}
.packageWrap {
    margin-left: 36px;
    width: 678px;
}
.packageWrap ul {
    border: medium none;
}
.buy-title {
    margin: 0 30px 0 22px;
}
.packageList li {
    float: left;
    margin-right: 0;
}
.packageList li, .BuyRiBut {
    height: 120px;
}
.packageList li {
    text-align: center;
    width: 105px;
}
.packageList .even {
    color: #b8b7b7;
    font-size: 36px;
    line-height: 120px;
    margin-top: -27px;
    text-align: center;
    width: 30px;
}
.packageList h5, .packageList span {
    font-size: 14px;
}
.packageList h5 {
    color: #444444;
    height: 36px;
    line-height: 2.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.packageList span {
    color: #eb5767;
    display: block;
    line-height: 1;
}
.packageList i {
    display: block;
    height: 60px;
    line-height: 60px;
}
.packageList i > img {
    height: 100%;
    width: 60px;
}
.BuyRiBut {
    width: 180px;
}
.BuyRiBut span {
    color: #727171;
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    text-indent: 18px;
    width: 100%;
}
.BuyRiBut em {
    color: #eb5767;
}
.BuyRiBut .BuyRiButColor {
    color: #989696;
    margin-bottom: 5px;
}
.BuyRiBut .BuyRiButFirst {
    font-size: 14px;
}
.BuyRiBut .BuyRiButFirst em {
    font-size: 24px;
}
.buyRadia .radios {
    width: 325px;
}
.buyRadia .radios-text {
    width: 696px;
}
.buyRadia p, .buyRadia .prices {
    padding-top: 3px;
}
.buyRadia p {
    width: 480px;
}
.buyNums {
    margin-top: 38px;
    width: 720px;
}
.buyNums p {
    color: #595757;
    float: left;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    width: 100px;
}
.buyTextarea {
    height: 128px;
    width: 910px;
}
.text-input-fen {
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    width: 93px;
}
.asstaocan {
    margin: 0 30px 0 24px;
}
.asstaocan li {
    border-top: 1px solid #c4c4c4;
    float: left;
    min-height: 120px;
    padding-top: 26px;
    width: 100%;
}
.asstaocan .noBorder {
    border: medium none;
}
.ass-name {
    margin-right: 20px;
    width: 148px;
}
.ass-name i {
    display: block;
    text-align: center;
}
.ass-name h3 {
    color: #444444;
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0 16px;
    text-align: center;
    width: 100%;
}
.ass-reason {
    width: 370px;
}
.ass-reason h3 {
    color: #565656;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
}
.ass-reason p {
    color: #565656;
    float: left;
    font-size: 14px;
    line-height: 1.4;
    margin: 14px 0;
    text-align: justify;
}
.aser {
    color: #727171;
    font-size: 14px;
    margin-top: 15px;
    text-align: left;
    width: 65px;
}
.ass-server {
    width: auto;
}
.ass-server .assImg {
    width: 60px;
}
.ass-server h4 {
    color: #444444;
    float: left;
    font-size: 14px;
    line-height: 1.4;
    margin: 4px 0 16px;
    text-align: center;
    width: 100%;
}
.ass-price {
    width: 175px;
}
.ass-price span {
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 6px;
}
.ass-price em {
    color: #eb5767;
    display: inline-block;
    float: left;
    font-size: 14px;
    text-align: left;
    width: 65px;
}
.ass-price > div {
    text-align: center;
    width: 100%;
}
.ass-price .checkboxs {
    width: 110px;
}
.ass-price .numAddSubtract {
    padding: 4px 0 0 10px;
}
.numAddSubtract a, .numAddSubtract input[type="text"] {
    display: inline-block;
    float: left;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.numAddSubtract a {
    border: 1px solid #e0e0e0;
    color: #727171;
    font-size: 26px;
    width: 26px;
}
.numAddSubtract a:hover {
    color: #00c8ff;
}
.numAddSubtract .subtract {
    line-height: 23px;
}
.numAddSubtract .notChoose {
    color: #d8d8d8;
}
.numAddSubtract input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e0e0e0 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    color: #595757;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-top: 0;
    padding: 0;
    width: 38px !important;
}
.numAddSubtract input[type="text"]:focus, .numAddSubtract input[type="text"]:hover {
    border-left: medium none;
    border-right: medium none;
}
.shoppingAgreement {
    height: 100px;
}
.totalPrice {
    color: #444444;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 6px;
    padding-right: 50px;
    text-align: right;
}
.totalPrice em {
    color: #eb5767;
    font-size: 24px;
}
.buyButs {
    color: #565656;
    font-size: 14px;
}
.buyButs a {
    color: #565656;
    position: relative;
    z-index: 5;
}
.shopp-list ol {
    border-bottom: 1px solid #e0e0e0;
    height: auto;
    overflow: hidden;
    padding: 20px 0;
}
.shopp-list li {
    float: left;
}
.shoppTitle {
    background: #f5f5f5 none repeat scroll 0 0;
}
.shopp-list .shoppFirst {
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.shoppFirst li {
    color: #666666;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.unit-price span, .shopp-subtotal span, .operation span, .shoppPackage .shopp-num-span {
    display: block;
    float: left;
    font-size: 12px;
    margin-top: 18px;
    text-align: center;
    width: 100%;
}
.goods-text {
    float: left;
    padding-top: 2px;
    width: 350px;
}
.goods-text > div {
    color: #727171;
    float: left;
    font-size: 14px;
    line-height: 1;
    padding: 6px 0 1px 40px;
    text-align: left;
}
.goods-text > div.area {
    color: #999999;
    font-size: 12px;
}
.goods-text > div.area span {
    color: #999999;
    font-size: 12px;
    line-height: 1;
    top: 0;
}
.goods-text em {
    float: left;
    width: 38px;
}
.goods-text span {
    color: #333333;
    float: left;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    top: -3px;
    width: 228px;
}
.shopp-ser h3 {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    padding-left: 16px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}
.shopp-ser img, .shopp-ser h3 {
    margin-top: 5px;
}
.unit-price span {
    color: #666666;
}
.shopp-num .numAddSubtract {
    margin: 13px 0 0 15px;
}
.shopp-subtotal span {
    color: #f74e1e;
}
.operation span {
    color: #909090;
    cursor: pointer;
}
.goods {
    text-indent: 194px;
    width: 38%;
}
.shopp-ser {
    text-indent: 38px;
    width: 15%;
}
.unit-price {
    width: 11%;
}
.shopp-num {
    width: 10%;
}
.shopp-subtotal {
    width: 20%;
}
.operation {
    width: 6%;
}
.operation > a {
    color: #333333;
    display: inline-block;
    font-size: 12px;
    margin-top: 18px;
}
.shoppPackage .operation > a {
    margin-top: 0;
}
.shopp-num, .operation, .shopp-subtotal, .unit-price {
    text-align: center;
}
.shopp-ser, .goods {
    text-align: left;
}
.goods-text em, .goods-text span, .shopp-ser h3 {
    text-indent: 0;
}
.goods-s {
    color: #333333;
    float: left;
    font-size: 14px;
    text-align: left;
    text-indent: 40px;
}
.total-tips {
    color: #b5b5b5;
    float: left;
    font-size: 12px;
    line-height: 14px;
    padding-top: 8px;
    width: 100%;
}
.shoppPackage {
    border-bottom: 1px solid #dfdfdf;
}
.shoppPackage ol {
    background: #f3fcff none repeat scroll 0 0;
    border-bottom: medium none;
    border-top: 1px solid #ffffff;
    margin: 0;
}
.shoppPackage .packageInfo {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    padding: 20px 0 16px;
}
.packageInfo .operation span, .packageInfo .shopp-num .numAddSubtract {
    margin-top: 0;
}
.packageInfo .unit-price span, .packageInfo .shopp-subtotal span {
    margin-top: 7px;
}
.shoppPackage .shopp-num-span {
    color: #666666;
    font-size: 12px;
}
.coupon {
    margin-bottom: 40px;
}
.couponTitle, .couponCont, .coupon {
    text-align: left;
    width: 400px;
}
.couponTitle {
    color: #333333;
    display: block;
    font-size: 14px;
    height: 13px;
    line-height: 13px;
    margin-top: 40px;
    text-align: left;
}
.couponTitle i {
    background: rgba(0, 0, 0, 0) url("../images/icon/spreadIcon.png") no-repeat scroll 0 -17px;
    display: inline-block;
    height: 14px;
    margin: 0 10px 0 0;
    transition: -webkit-transform 0.1s ease-in 0s;
    vertical-align: top;
    width: 13px;
}
.couponTitle.active i {
    background-position: 0 0;
}
.couponTitle span {
    color: #999999;
}
.couponCont {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    display: none;
    height: auto;
    margin: 15px 0 0;
}
.couponCont li {
    border-bottom: 1px solid #e0e0e0;
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 12px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 2;
}
.couponList {
    background: #f5f5f5 none repeat scroll 0 0;
}
.couponList > .active {
    background: #fff none repeat scroll 0 0;
    border-bottom-color: #fff;
    border-top: 2px solid #007bc7;
    padding: 8px 0 10px;
}
.couRi em {
    background: #cd4a58 none repeat scroll 0 0;
    color: #d6dcde;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    position: absolute;
    right: 25px;
    text-align: center;
    text-indent: 0;
    top: 10px;
    width: 20px;
}
.coupon-text {
    border-top: 1px solid #e0e0e0;
    padding: 20px;
    position: relative;
    top: -1px;
}
.coupon-text > div {
    display: none;
    float: left;
    height: auto;
    width: 100%;
}
.coupon-text .active {
    display: block;
}
.cou-text1 {
}
.cou-text1 input[type="text"] {
    color: #8c8c8c;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-indent: 9px;
    width: 210px;
}
.cou-text2 .checkboxs {
    border: 1px solid #dfdfdf;
    height: auto;
    line-height: normal;
    padding: 8px 0;
    width: 100%;
}
.cou-text2 span {
    color: #8c8c8c;
    display: block;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
}
.cou-text2 .textImgSeparation {
    padding-left: 5px;
}
.cou-text2 .checkboxs {
    background-position: 16px -866px;
}
.cou-text2 .checkboxs.checkboxok {
    background-position: 16px -904px;
}
#mycoupons, .kimsCart {
    border: 1px solid #e0e0e0;
}
#mycoupons {
    border-top: medium none;
}
.kimsCart {
    border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    padding: 10px;
    width: 100%;
}
.coupon-con {
    float: left;
    width: 228px;
}
.coupon-select {
    border: 1px solid #8dd9ee;
    height: 30px;
    width: 210px;
}
.fapiao-box-foot {
    float: left;
    font-size: 0;
    width: 130px;
}
.fapiao-box-foot a {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 60px;
}
.fapiao-box-foot .butBlue {
    margin-right: 10px;
}
.box-foot2 {
    float: none;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.btn-white, .btn-green {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 80px;
}
.btn-white {
    background-color: #fff;
    border: 1px solid #e1e1e1;
}
.btn-white:hover {
    background-color: #e8e8e8;
}
.btn-green {
    background-color: #9bbe69;
    border: 1px solid #9bbe69;
    color: #fff;
}
.btn-green:hover {
    background-color: #769f3c;
    border: 1px solid #769f3c;
}
.invoiceWrap {
    bottom: 6px;
    left: -192px;
    position: absolute;
    width: 200px;
}
.invoiceTip {
    background: rgba(0, 0, 0, 0) url("../images/icon/doubt.png") no-repeat scroll 0 center;
    color: #147cc1;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding-left: 10px;
    position: relative;
    text-align: center;
    width: 120px;
}
.invoiceInner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ccc;
    color: #333;
    display: none;
    left: -136px;
    line-height: 1.7;
    padding: 10px;
    position: absolute;
    top: -60px;
    width: 290px;
}
.invoiceInner span {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    left: 180px;
    line-height: 0;
    position: absolute;
    top: 60px;
    width: 0;
}
.checkout {
    height: auto;
    width: 355px;
}
.checkoutWrap {
    width: 300px;
}
.checkout li {
    float: left;
    width: 100%;
}
.checkout li, .checkout span {
    line-height: 30px;
}
.checkout span {
    display: inline-block;
    font-size: 12px;
    position: relative;
    text-align: right;
    width: 140px;
}
.checkout .checkout-le {
    color: #999999;
}
.checkout .checkout-ri {
    color: #333333;
    width: 210px;
}
.checkout-ri em {
    color: #e85555;
    font-size: 24px;
}
.vip-discount a {
    color: #007bc7;
}
.vip-discount em {
    color: #333333;
    font-size: 12px;
}
.checkout span .redBg {
    background: #e85555 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    height: 20px;
    left: -40px;
    line-height: 20px;
    padding: 0 12px;
    position: absolute;
    top: 4px;
}
.titleInside {
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    padding: 28px 0 28px 25px;
}
.titleInside span {
    color: #999999;
    font-size: 14px;
    margin: 0 8px 0 14px;
}
.titleInside a {
    color: #007cbc;
    font-size: 14px;
}
.listBorder {
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 30px 30px;
}
.padB10 {
    padding-bottom: 10px;
}
.odersIsOk li {
    color: #666666;
    float: left;
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 5px;
    width: 100%;
}
.odersIsOk span {
    display: inline-block;
    float: left;
}
.odersIsOk div {
    float: left;
    width: 90%;
}
.odersIsOk h2 {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin: 40px 0 13px;
}
.odersIsOk .showDetails {
    color: #007cbc;
    margin-left: 8px;
}
.odersIsOk .showDetails i {
    background: rgba(0, 0, 0, 0) url("../images/icon/index.png") no-repeat scroll -60px -891px;
    display: inline-block;
    height: 16px;
    margin: 3px 0 0 4px;
    transition: transform 0.1s ease-in 0s;
    vertical-align: top;
    width: 10px;
}
.odersIsOk .showDetails.cur i {
    transform: rotate(180deg);
}
#infoDetails {
    color: #333333;
    display: none;
    padding-top: 6px;
}
.payRadia .radios {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    margin: 0;
    padding: 3px 0;
    text-align: center;
    text-indent: 0;
    width: 140px;
}
.payRadia .radiosW {
    padding: 5px 0;
}
.payRadia li {
    float: left;
    width: 184px;
}
.payRadia .radios img {
    border: 1px solid transparent;
}
.payRadia .radios.checkeds {
    border: 1px solid #e85555;
}
.payListLe > div, .payListLe > div span, .payListLe > div a {
    line-height: 1.6;
    text-align: left;
    text-indent: 22px;
}
.payListLe > div {
    color: #333333;
    font-size: 14px;
}
.payListLe > div span, .payListLe > div a {
    color: #999999;
    float: left;
    font-size: 12px;
    width: 100%;
}
.payListLe > div a {
    color: #f76e44;
}
.payListLe > div a:hover {
    color: #ee330a;
}
.payRadia-1.payRadia li {
    margin-bottom: 20px;
}
.payRadia-2 span {
    display: inline-block;
    float: left;
    text-align: left;
}
.payRadia-2 span em {
    color: #e85555;
}
.odersIsOk .orderPrice {
    color: #666;
    font-size: 12px;
    position: absolute;
    right: 60px;
    top: 36px;
    width: auto;
}
.odersIsOk .orderPrice em {
    color: #e85555;
    font-size: 24px;
}
.bank li {
    border: 1px solid #eeeeee;
    color: #333333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 45px;
    padding: 4px 0 3px;
    position: relative;
    text-align: center;
    width: 140px;
}
.bank li.active {
    border: 1px solid #e75050;
}
.bank img {
    margin: 3px 5px 3px 6px;
}
.bank-text {
    position: relative;
}
.bank-text > div {
    border: 1px solid #b5b4b3;
    display: none;
    height: 170px;
    width: 600px;
}
.bank-text-div h3 {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.div-s {
    width: 302px;
}
.div-s span {
    display: block;
    font-size: 12px;
    line-height: 3;
    text-align: center;
    width: 100%;
}
.div-s.div-s1 span {
    line-height: 2;
}
.bank-text-div h5 {
    font-size: 12px;
    text-align: center;
}
.bank-text-div img {
    margin: 20px;
}
.bank-text-div h5 {
    float: left;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.bank-text-div em {
    color: #f96e3c;
}
.sMask {
    height: 30px;
    line-height: 30px;
}
.listRiRadio {
    margin: 25px 0 25px 40px;
    width: 300px;
}
.titleul li {
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.titleul a {
    /*background: rgba(0, 0, 0, 0) url("../images/icon/buyradio.png") no-repeat scroll 0 -42px;*/
    color: #595757;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-indent: 20px;
}
.listRiRadioteshu.listRiRadio .current {
    background-position: 0 8px;
}
.listRiRadioteshu {
    position: relative;
}
.listRiRadio input[type="radio"] {
    margin: 0 10px 0 -200px;
    padding: 0;
    position: absolute;
    width: 420px;
}
.listRiRadioteshu.listRiRadio input[type="radio"] {
    margin: 0 0 0 4px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: auto;
    z-index: 1;
}
.listRiRadio label {
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-indent: 25px;
}
.listRiRadioteshu.listRiRadio label {
    float: left;
    position: relative;
    text-indent: 24px;
    width: 100%;
}
.radios-text-radio {
    color: #595757;
    font-size: 14px;
    margin-top: 27px;
    position: relative;
    width: 538px;
}
.radios-text-radio .prices {
    position: absolute;
    right: 0;
    top: 0;
}
.fapiao-box-foot input[type="button"] {
}
.payBalance {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    color: #666666;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.payBalance li {
    width: auto;
}
.payBalance .floatRight {
    float: right;
    padding-right: 20px;
}
.payBalance .floatRight em {
    color: #e85555;
}
.payBalance input {
    margin: 6px 10px 0 22px;
}
.alipay-info {
    width: 600px;
}
.alipay-info table {
    margin: 10px;
}
.alipay-info .tit {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    line-height: 54px;
    padding-left: 23px;
    text-align: left !important;
}
.alipay-info table tr td {
    border-width: 0;
    font-size: 12px;
}
#alipay-info td, #bank-info td {
    margin: 2px 5px;
}
.ui-dialog-body table td, .ui-dialog-body table th {
    line-height: 25px;
}
.btn-pay-ok {
    background-color: #e85555;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 12px;
    width: 140px;
}
.btn-pay-ok:hover {
    background: #be4747 none repeat scroll 0 0;
    border: medium none !important;
}
.pay-confirm {
    padding-left: 200px;
    position: relative;
    text-align: left;
}
.pay-confirm .icon {
    background: rgba(0, 0, 0, 0) url("../images/icon/cautionIcon.png") no-repeat scroll 0 0;
    display: block;
    height: 72px;
    left: 105px;
    position: absolute;
    top: 0;
    width: 72px;
}
#pay-confirm h3 {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    margin: 20px 0 15px;
}
.btn-pay-success, .btn-pay-error {
    border-radius: 2px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: auto;
    line-height: normal;
    margin-right: 20px;
    padding: 7px 10px !important;
    text-align: center;
    width: 120px;
}
.btn-pay-success {
    background-color: #1baf95;
    border: 1px solid #1baf95;
    color: #fff;
    cursor: pointer;
}
.btn-pay-error {
    border: 1px solid #e0e0e0;
    color: #999999;
    margin-right: 0;
}
.btn-pay-success:hover {
    border: 1px solid #00b095;
}
.btn-pay-error:hover {
    border: 1px solid #e0e0e0;
}
.btn-pay-div {
    height: auto;
    overflow: hidden;
    padding-bottom: 14px;
    width: 281px;
}
.w440 {
    float: left;
    width: 440px;
}
.pay-confirm p {
    font-size: 12px;
    line-height: 20px;
}
.pay-confirm .back a {
    color: #1ea9e8;
}
.confirmOrder {
    background-color: #fff;
    margin-bottom: 25px;
    padding: 10px 30px 0;
}
.confirmOrder .inforModel {
    border-bottom: 1px solid #edecec;
    padding: 40px 0 20px;
    position: relative;
}
.confirmOrder .inforHeader {
    height: 24px;
    overflow: hidden;
}
.confirmOrder .inforHeader h3 {
    border-left: 3px solid #007bc7;
    color: #333333;
    float: left;
    font-size: 18px;
    line-height: 23px;
    padding: 0 30px 0 10px;
}
.confirmOrder .inforHeader span {
    color: #333333;
    font-size: 12px;
    line-height: 25px;
}
.confirmOrder .inforCustom {
    padding: 38px 0 20px 13px;
}
.confirmOrder .inforCustom .errorItem {
    background: rgba(0, 0, 0, 0) url("../images/icon/Login/reg-icon.png") no-repeat scroll -6px -59px;
    color: #e85555;
    display: none;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding-left: 22px;
}
.confirmOrder .infoList {
    padding: 38px 160px 0 13px;
}
.confirmOrder .infoList li {
    border: 1px solid #e0e0e0;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}
.confirmOrder .infoList li a {
    color: #666666;
    display: block;
    font-size: 12px;
    padding: 7px 10px;
}
.confirmOrder .infoList li span {
    background-color: #fff7d8;
    color: #666;
    display: none;
    font-size: 12px;
    left: 50%;
    line-height: 20px;
    margin-left: -90px;
    padding: 9px 16px;
    position: absolute;
    top: 47px;
    width: 180px;
    z-index: 10;
}
.confirmOrder .infoList li i {
    background: rgba(0, 0, 0, 0) url("../images/icon/Order/iconArrowT.png") no-repeat scroll 0 0;
    display: none;
    height: 7px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 40px;
    width: 16px;
    z-index: 10;
}
.confirmOrder .infoList li:hover, .confirmOrder .infoList li.active {
    border-color: #fc6364;
}
.confirmOrder .infoList li:hover a {
    color: #fc6364;
}
.confirmOrder .infoList li:hover span, .confirmOrder .infoList li:hover i {
    display: block;
}
.confirmOrder .infoList li.active {
    border: 2px solid #e85555;
}
.confirmOrder .infoList li.active a {
    padding: 6px 9px;
}
.confirmOrder .inforHeader .infoPrice {
    color: #eb5767;
    float: right;
    font-size: 18px;
}
.demandDescribe {
    overflow: hidden;
    padding-bottom: 45px;
}
.demandDescribe h3 {
    color: #727171;
    font-size: 18px;
    font-weight: normal;
    padding: 22px 0 13px 13px;
}
.demandDescribe .demandTextarea {
    height: 170px;
    margin-left: 5px;
    width: 606px;
}
.shopContent {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
}
.shoppingCart .cartTitle {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #e0e0e0;
    color: #666666;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 18px;
}
.shoppingCart .cartList {
    margin: 0 18px;
}
.shoppingCart .cartList li {
    border-bottom: 1px solid #edecec;
    overflow: hidden;
    padding: 16px 0 20px;
}
.shoppingCart .proTitle {
    color: #333;
    font-size: 14px;
    padding-bottom: 8px;
}
.shoppingCart .cartImg {
    width: 36px;
}
.shoppingCart .cartImg img {
    height: 36px;
    width: 36px;
}
.shoppingCart .cartName {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 0 0 10px;
    width: 142px;
}
.shoppingCart .cartDel {
    padding: 20px 0 0 5px;
    width: 23px;
}
.shoppingCart .cartDel a {
    background: rgba(0, 0, 0, 0) url("../images/icon/Order/iconDel.png") no-repeat scroll 0 0;
    display: block;
    height: 9px;
    width: 9px;
}
.shoppingCart .cartBalance a {
    color: #fff;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}
.fixed0 {
    position: fixed;
    top: 0;
}
.shoppingCart .subtotal {
    color: #000;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
}
.shoppingCart .subtotal em {
    color: #e85555;
}
.shoppingCart .buyButs {
    color: #333;
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;
    padding-top: 10px;
    position: absolute;
}
.shoppingCart .buyButs:hover a {
    color: #00c9ff;
}
.stepflex {
    border-top: 5px solid #ccc;
    display: block;
    float: right;
    font-size: 12px;
    margin: 30px 0 0;
    text-align: center;
}
.stepflex::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .stepflex {
    height: 1%;
}
* + html .stepflex {
    min-height: 1%;
}
.stepflex dl {
    border-top: 5px solid #ccc;
    float: left;
    position: relative;
    top: -5px;
    width: 160px;
}
.stepflex dl.doing {
    border-top-color: #00b095;
}
.stepflex dl.doing .s-num {
    background-position: -23px 0;
}
.stepflex dl.doing .s-text {
    color: #00b095;
}
.stepflex dl.done {
    border-top-color: #b2e7df;
}
.stepflex dl.done .s-num {
    background-position: -47px 0;
}
.stepflex dl.done .s-text {
    color: #b2e7df;
}
.stepflex .doing b, .stepflex .doing s, .stepflex .first s, .stepflex .last b {
    background-image: url("../images/icon/iconStep.png");
    font-size: 0;
    height: 5px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: -5px;
    width: 5px;
}
.stepflex .s-num {
    background-image: url("../images/icon/iconStep.png");
    color: #fff;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: -15px auto 0;
    position: relative;
    width: 23px;
}
.stepflex .s-text {
    color: #ccc;
}
.stepflex s {
    left: 0;
}
.stepflex b {
    right: 0;
}
.stepflex .first s {
    background-color: #fff;
    background-position: 0 -24px;
}
.stepflex .last b {
    background-color: #fff;
    background-position: -5px -24px;
}
.stepflex .doing s {
    background-position: -23px -24px;
}
.stepflex .doing b {
    background-color: #ccc;
    background-position: -28px -24px;
}
.stepflex .doing.last s, .stepflex .doing.normal s {
    background-color: #caecb6;
}
.stepflex .doing.last b {
    background-color: #fff;
}
.stepflex .done s {
    background-position: -46px -24px;
}
.stepflex .done b {
    background-position: -51px -24px;
}
.stepflex .doing.last .s-num {
    background-position: -91px 0;
}
.padB26 {
    padding-bottom: 26px;
}
.pad20 {
    padding: 20px 0;
}
.bgColorf1 {
    background-color: #f1f2f6;
}
.cart-empty {
    background: #fff url("../images/icon/carIcon.png") no-repeat scroll 347px 70px;
    color: #727171;
    margin-top: 38px;
    padding: 55px 0 70px 540px;
}
.cart-empty h3 {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 8px;
}
.cart-empty .tips {
    color: #666666;
    font-size: 18px;
    padding: 0 0 10px;
}
.cart-empty .btn {
    padding-top: 18px;
}
.cart-empty .btn a {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 175px;
}
.cart-empty .btn .goShopping {
    border: 1px solid #999999;
    border-radius: 2px;
    color: #333333;
    width: 100px;
}
.cart-empty .btn .goShopping:hover {
    border-color: #37aada;
    color: #37aada;
}
.recommendTit {
    color: #727171;
    font-size: 18px;
    font-weight: normal;
    margin-top: 18px;
    padding: 18px 0;
}
.color-red {
    color: #333333;
}
.mx-td {
    text-align: left;
}
.td-b {
    padding-left: 14px;
    padding-top: 10px;
}
.coupontips {
    float: left;
    font-size: 12px;
    line-height: 1;
    padding: 10px 0 0 40px;
    text-align: left;
    text-indent: 0;
}
.coupontips b {
    color: red;
    display: inline-block;
    font-size: 18px;
    margin-right: 4px;
    vertical-align: top;
}
.login-tips {
    color: #666;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
}
.login-tips a {
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-left: 15px;
    width: 70px;
}
.transferList {
    padding-left: 30px;
}
.transferList li {
    float: left;
    margin-right: 19px;
}
.transferList table {
    border: 1px solid #eeeeee;
}
.transferList table.w440 {
    width: 440px;
}
.transferList table.w480 {
    width: 480px;
}
.transferList table td {
    border: medium none;
    color: #999999;
    line-height: 24px;
}
.transferList table td img {
    margin: 19px 10px 14px 11px;
}
.transferTips {
    color: #e98746;
    font-size: 12px;
    line-height: 1;
    padding: 20px 0 20px 30px;
}
.legalvip {
    padding: 6px 10px 10px;
}
.legalvip-title {
    border-bottom: 1px solid #f6f6f6;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}
.legalvip-title em {
    color: #333333;
}
.legalvip-type {
    padding-top: 18px;
}
.legalvip-type li {
    float: left;
    margin-left: 19px;
    position: relative;
    width: 275px;
}
.legalvip-type li.firstLi {
    margin: 0;
}
.legalvip-type li .t-mode {
    border: 1px solid #eeeeee;
    color: #666666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 120px;
    position: relative;
    text-align: center;
    width: 275px;
}
.legalvip-type li .tit {
    color: #333333;
    font-size: 18px;
    margin-top: 32px;
}
.legalvip-type li .price {
    margin-top: 10px;
}
.legalvip-type li .price em {
    color: #e85555;
    font-size: 24px;
}
.legalvip-type li .t-mode .label {
    background: rgba(0, 0, 0, 0) url("../images/icon/recommendIcon.png") no-repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 44px;
    left: 22px;
    line-height: 1;
    padding: 4px 9px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}
.legalvip-type li.active .t-mode {
    border-color: #e85555;
}
.legalvip-type li.disabled .t-mode {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #999999;
    cursor: default;
}
.legalvip-type li.disabled .tit {
    color: #999999;
}
.legalvip-platform {
    border: 1px solid #eeeeee;
    margin-top: 20px;
    padding-bottom: 10px;
}
.legalvip-platform-tab {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    height: 40px;
    line-height: 40px;
}
.legalvip-platform-tab li {
    float: left;
}
.legalvip-platform-tab li a {
    color: #666666;
    display: block;
    font-size: 14px;
    padding: 0 22px;
}
.legalvip-platform-tab li.active a {
    background: #fff none repeat scroll 0 0;
    color: #007bc7;
}
.legalvip-platform-balance {
    border-bottom: 1px solid #eeeeee;
    color: #666666;
    font-size: 14px;
    height: 65px;
    line-height: 65px;
    margin: 0 24px;
}
.legalvip-platform-balance p {
    display: inline-block;
    float: left;
}
.legalvip-platform-balance .total {
    font-size: 18px;
    margin-right: 40px;
}
.legalvip-platform-balance .total span {
    font-size: 14px;
}
.legalvip-platform-balance .total em {
    color: #e85555;
}
.legalvip-platform-balance input {
    display: inline-block;
    margin: 18px 6px 0 0;
    vertical-align: top;
}
.legalvip-platform-balance em {
    color: #e85555;
}
.legalvip-platform-balance a {
    display: inline-block;
    line-height: 24px;
    margin-left: 20px;
    padding: 0 10px;
}
.legalvip-list-con {
    height: 260px;
    padding: 19px 24px 0;
}
.legalvip-list-con ol {
    display: none;
}
.legalvip-list-con .radios {
    color: #333;
    font-size: 12px;
}
.transfer-dialog {
    border: 1px solid #eeeeee;
    display: none;
    left: 0;
    padding: 0 19px;
    position: absolute;
    text-align: left;
    top: 54px;
    width: 560px;
}
.transfer-dialog .arrow {
    background: rgba(0, 0, 0, 0) url("../images/icon/transferArrow.png") no-repeat scroll 0 0;
    display: block;
    height: 9px;
    left: 61px;
    position: absolute;
    top: -9px;
    width: 18px;
}
.transfer-dialog .tit {
    border-bottom: 1px solid #eeeeee;
    color: #333333;
    font-size: 14px;
    height: 52px;
    line-height: 52px;
}
.transfer-dialog .info {
    padding: 15px 0 26px;
}
.transfer-dialog .info dt, .transfer-dialog .info dd {
    float: left;
}
.transfer-dialog .info dt {
    padding: 6px 10px 0 0;
}
.transfer-dialog .info dd {
    color: #666;
    font-size: 14px;
    line-height: 23px;
}
.transfer-dialog .info dd em {
    color: #e85555;
}
.transfer-dialog .info dd .tips {
    font-size: 12px;
}
.legalvip-protocol {
    padding: 12px 0 14px 24px;
}
.legalvip-protocol a {
    color: #666666;
    font-size: 12px;
}
.legalvip-protocol a:hover {
    color: #007bc7;
}
.logo-sub1 {
    border-left: 1px solid #757575;
    color: #757575;
    float: left;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 26px 0 0 20px;
    padding-left: 20px;
    width: 110px;
}
.t-form {
    color: #666666;
    font-size: 14px;
    height: 120px;
    position: relative;
    text-align: center;
    width: 275px;
}
.t-form input {
    display: inline-block;
    float: none;
    height: 14px;
    line-height: 14px;
    margin-right: 10px;
    width: 76px;
}
.t-tip {
    margin: 8px 46px 0 0;
    text-align: right;
}
.t-tip i {
    color: red;
    margin-right: 6px;
    vertical-align: middle;
}
.t-hover {
    background: #fff7d8 none repeat scroll 0 0;
    color: #666;
    display: none;
    font-size: 12px;
    left: 50px;
    padding: 12px 10px;
    position: absolute;
    top: 130px;
    width: 180px;
}
.mx-arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #fff7d8;
    border-image: none;
    border-style: solid;
    border-width: 14px;
    height: 0;
    left: 80px;
    position: absolute;
    top: -22px;
    width: 0;
}
.fwsFixed {
    border: 1px solid #e0e0e0;
    left: 50%;
    margin-left: 466px;
    position: fixed;
    top: 110px;
    width: 124px;
}
.fwsF-title {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #e0e0e0;
    color: #666;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
}
.fwsF-cont {
    background: #fff none repeat scroll 0 0;
    padding: 20px 16px 10px;
}
.fwsF-img {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    text-align: center;
}
.fwsF-img img {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}
.fwsF-name {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
.fwsF-name span {
    font-size: 20px;
}
.fwsF-phone {
    color: #333;
    font-size: 14px;
}
.fwsF-phone a {
    background: #007bc7 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
    text-align: center;
    width: 86px;
}
.fw-area {
    margin-left: 16px;
}
.fw-area em {
    color: #333;
}
.t-title {
    color: #333;
    font-size: 18px;
    margin-top: 18px;
}
.legalvip {
    padding: 6px 10px 10px;
}
.legalvip-title {
    border-bottom: 1px solid #f6f6f6;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}
.legalvip-title em {
    color: #333333;
}
.legalvip-type {
    padding-top: 18px;
}
.legalvip-type li {
    float: left;
    margin-left: 19px;
    position: relative;
    width: 275px;
}
.legalvip-type li.firstLi {
    margin: 0;
}
.legalvip-type li .t-mode {
    border: 1px solid #eeeeee;
    color: #666666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 120px;
    position: relative;
    text-align: center;
    width: 275px;
}
.legalvip-type li .tit {
    color: #333333;
    font-size: 18px;
    margin-top: 32px;
}
.legalvip-type li .price {
    margin-top: 10px;
}
.legalvip-type li .price em {
    color: #e85555;
    font-size: 24px;
}
.legalvip-type li .t-mode .label {
    background: rgba(0, 0, 0, 0) url("../images/icon/recommendIcon.png") no-repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 44px;
    left: 22px;
    line-height: 1;
    padding: 4px 9px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}
.legalvip-type li.active .t-mode {
    border-color: #e85555;
}
.legalvip-type li.disabled .t-mode {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #999999;
    cursor: default;
}
.legalvip-type li.disabled .tit {
    color: #999999;
}
.legalvip-platform {
    border: 1px solid #eeeeee;
    margin-top: 20px;
    padding-bottom: 10px;
}
.legalvip-platform-tab {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    height: 40px;
    line-height: 40px;
}
.legalvip-platform-tab li {
    float: left;
}
.legalvip-platform-tab li a {
    color: #666666;
    display: block;
    font-size: 14px;
    padding: 0 22px;
}
.legalvip-platform-tab li.active a {
    background: #fff none repeat scroll 0 0;
    color: #007bc7;
}
.legalvip-platform-balance {
    border-bottom: 1px solid #eeeeee;
    color: #666666;
    font-size: 14px;
    height: 65px;
    line-height: 65px;
    margin: 0 24px;
}
.legalvip-platform-balance p {
    display: inline-block;
}
.legalvip-platform-balance .total {
    font-size: 18px;
    margin-right: 40px;
}
.legalvip-platform-balance .total span {
    font-size: 14px;
}
.legalvip-platform-balance .total em {
    color: #e85555;
}
.legalvip-platform-balance input {
    display: inline-block;
    margin: 18px 6px 0 0;
    vertical-align: top;
}
.legalvip-platform-balance em {
    color: #e85555;
}
.legalvip-platform-balance a {
    display: inline-block;
    line-height: 24px;
    margin-left: 20px;
    padding: 0 10px;
}
.legalvip-list-con {
    height: 260px;
    padding: 19px 24px 0;
}
.legalvip-list-con ol {
    display: none;
}
.legalvip-list-con .radios {
    color: #333;
    font-size: 12px;
}
.transfer-dialog {
    border: 1px solid #eeeeee;
    display: none;
    left: 0;
    padding: 0 19px;
    position: absolute;
    text-align: left;
    top: 54px;
    width: 600px;
}
.transfer-dialog .arrow {
    background: rgba(0, 0, 0, 0) url("../images/icon/transferArrow.png") no-repeat scroll 0 0;
    display: block;
    height: 9px;
    left: 61px;
    position: absolute;
    top: -9px;
    width: 18px;
}
.transfer-dialog .tit {
    border-bottom: 1px solid #eeeeee;
    color: #333333;
    font-size: 14px;
    height: 52px;
    line-height: 52px;
}
.transfer-dialog .info {
    padding: 15px 0;
}
.transfer-dialog .info dt, .transfer-dialog .info dd {
    float: left;
}
.transfer-dialog .info dt {
    padding: 6px 10px 0 0;
}
.transfer-dialog .info dd {
    color: #666;
    font-size: 14px;
    line-height: 23px;
}
.transfer-dialog .info dd em {
    color: #e85555;
}
.transfer-dialog .info dd .tips {
    font-size: 12px;
}
.legalvip-protocol {
    padding: 0 0 14px 24px;
}
.legalvip-protocol a {
    color: #666666;
    font-size: 12px;
}
.legalvip-protocol a:hover {
    color: #007bc7;
}
