
.imitTabLists.noSpanCurrent {
    border-top: medium none;
    margin-top: 0;
}
.imitTabLists dl {
    height: auto;
    overflow: hidden;
}
.imitTabLists dd {
    float: left;
    padding: 13px 0;
    width: 620px;
}
.imitTabLists dt {
    float: left;
    padding: 13px 0 13px 20px;
}
.imitTabLists img {
    border-radius: 50%;
    float: left;
    height: 60px;
    margin-right: 12px;
    width: 60px;
}
.imitTabLists > li {
    background: #f5f5f5 none repeat scroll 0 0;
    margin-top: 20px;
    padding: 0 20px;
    position: relative;
}
.messageTit {
    border-bottom: 1px solid #e0e0e0;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}
.messageTit h3 {
    color: #333333;
    float: left;
    font-size: 14px;
    margin-right: 28px;
}
.messageTit h3.notice {
    color: #e98746;
}
.messageTit h3.overdue {
    color: #999999;
}
.messageTit h3 .head {
    display: inline-block;
    height: 29px;
    margin-top: 7px;
    width: 29px;
}
.messageTit .time {
    color: #999999;
    float: left;
    font-size: 12px;
    line-height: 44px;
}
.messageTit .close {
    background: rgba(0, 0, 0, 0) url("../Image/User/userIcon.png") no-repeat scroll 0 -207px;
    display: block;
    float: right;
    height: 13px;
    margin-top: 14px;
    width: 13px;
}
.messageTit .close:hover {
    background-position: 0 -227px;
}
.messageInfo {
    line-height: 28px;
    overflow: hidden;
    padding: 7px 0;
}
.messageInfo .info {
    color: #666666;
    float: left;
    font-size: 14px;
    width: 880px;
}
.messageInfo a {
    float: right;
    font-size: 12px;
}
.title em, .title b {
    color: #595758;
    float: left;
    font-size: 14px;
}
.title {
    margin: 5px 0 15px;
}
.title b {
    margin-right: 10px;
}
.title em {
    color: #9ea19f;
}
.remind {
    font-size: 14px;
    text-align: left;
}
.remind span {
    color: #595758;
}
.remind em {
    color: #9ea19f;
    float: left;
}
.remind b {
    color: #595758;
    margin: 16px 10px 0 0;
}
.unreadRi {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
.timepoit {
    height: 50px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 175px;
    z-index: 5;
}
.unreadRi a {
    border: medium none;
    height: 100%;
}
.unreadRi a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.unreadRi a:hover i, .unreadRi i.currents {
    background-position: 121px -70px;
}
.unreadRi a:active i {
    background-position: 121px -153px;
}
.unreadRi span {
    color: #9ea19f;
    display: block;
    font-size: 12px;
    line-height: 1;
    margin-top: 17px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
}
.unreadRi .spanCurrent {
    margin-top: 40px;
}
.unreadRi i {
    background: transparent url("../Image/User/mestabbut.png") no-repeat scroll 121px 0;
    display: inline-block;
    height: 14px;
    position: relative;
    top: -3px;
    width: 100%;
}
