
body {
background: #f5f5f5 none repeat scroll 0 0 !important;
}
.userBut {
display: inline-block;
line-height: 1;
}
.userButGreen {
background: #51c5a8 none repeat scroll 0 0;
color: #ffffff;
}
.userButGreen:hover {
background: #45aa8f none repeat scroll 0 0;
}
.ButPadding {
font-size: 16px;
padding: 6px 40px;
}
.userButRed {
background: #ed5564 none repeat scroll 0 0;
color: #ffffff;
}
.userButRed:hover {
background: #00c9ff none repeat scroll 0 0;
}
.userButGrey {
background: #c9c9c9 none repeat scroll 0 0;
color: #ffffff;
}
.userButGrey:hover {
background: #51c5a8 none repeat scroll 0 0;
}
.marL15 {
margin-left: 15px;
}
.marL25 {
margin-left: 25px;
}
.textalign {
text-align: center;
}
.marT26 {
margin-top: 26px;
}
.marB5 {
margin-bottom: 5px;
}
.butBlue {
background: #51c5a8 none repeat scroll 0 0;
color: #ffffff !important;
}
.butBlue:hover {
background: #44aa8f none repeat scroll 0 0;
color: #ffffff !important;
}
.butWhite {
background: #ffffff none repeat scroll 0 0;
border: 1px solid #c4c4c4;
color: #595757;
font-size: 14px;
}
.butWhite:hover {
background: #00c8ff none repeat scroll 0 0;
border: 1px solid #00c8ff;
color: #ffffff;
}
.tabs {
margin: 25px auto 0;
width: auto;
}
.tabs .state {
display: none;
}
.tabs ul {
border-bottom: 1px solid #c4c4c4;
height: auto;
overflow: hidden;
width: 100%;
}
.tabs li a {
border-bottom: 6px solid transparent;
color: #565656;
display: inline-block;
font-size: 14px;
line-height: 1;
padding: 12px 15px 14px;
}
.tabs li a:hover {
border-bottom: 6px solid #00c9ff;
color: #00c9ff;
}
.tabs .active a {
border-bottom: 6px solid #00c9ff;
color: #00c9ff;
}
.tabs li {
float: left;
margin-right: 24px;
}
.tabs .lastNMarRi {
margin-right: 0;
}
.tabs .show {
display: block;
}
.pro-gs {
height: auto;
overflow: hidden;
}
.pro-ask {
margin: 0 0 0 25px;
}
.radiaWrap .radiosNews {
width: auto;
}
.radiosNews p {
padding-right: 16px;
}
.radiaWrap li {
float: left;
margin-bottom: 20px;
width: 100%;
}
.radiosNews-text {
color: #595757;
display: none;
font-size: 14px;
padding-left: 20px;
position: relative;
}
.radiosNews-text p {
color: #595757;
float: left;
line-height: 1.6;
text-align: justify;
}
.radiosNews-text .pricesNews {
float: right;
font-size: 14px;
width: 180px;
}
.pricesNews span {
color: #727171;
display: block;
float: left;
line-height: 1.6;
text-align: left;
width: 100%;
}
.pricesNews em {
color: #eb5767;
}
.radiosNews, .radiosNews input[type="radio"] {
line-height: 1;
padding: 7px 0;
}
.radiosNews {

border: 1px solid #c6c6c6;
color: #595757;
float: left;
font-size: 14px;
position: relative;
text-align: left;
text-indent: 44px;
width: auto;
}
.radiosNews.checkeds {
background-position: 13px -786px;
}
.radiosNews.checkedno {
background-position: 13px -832px;
}
.radiosNews input[type="radio"] {
cursor: pointer;
height: 100%;
left: 0;
margin: 0;
opacity: 0;
padding: 0;
position: absolute;
top: 0;
width: 100%;
}
.sbComErro .uProfile {
margin-left: 106px;
}
.radius2 {
border-radius: 2px;
}
.radius3 {
border-radius: 3px;
}
.radius4 {
border-radius: 4px;
}
.radius6 {
border-radius: 6px;
}
.radius8 {
border-radius: 8px;
}
.radius10 {
border-radius: 10px;
}
.percentRadius50 {
border-radius: 50%;
}
.no-data {
color: #4b4b4b;
font-size: 16px;
padding: 15px 0;
text-align: center;
}
.panel-title {
color: #9f9f9f;
font-size: 14px;
font-weight: normal;
line-height: 1;
margin-top: 20px;
padding: 10px 0;
text-align: left;
text-indent: 16px;
}
.noMesImg {

display: inline-block;
min-height: 500px;
width: 100%;
}
.noBorder {
border: medium none !important;
}
.annotationInfor {
color: #939393;
font-size: 14px;
line-height: 1.5;
margin-bottom: 20px;
text-align: left;
text-indent: 25px;
width: 100%;
}
.annotationInfor em {
color: #ed5564;
}
body {
background: #f5f5f5 none repeat scroll 0 0;
}
.userCont {
clear: both;
height: auto;
}
.user-top {
min-width: 1180px;
width: 100%;
}
.user-top {
background: #007bc7 none repeat scroll 0 0;
clear: both;
height: 60px;
}
.user-top-inner {
margin: 0 auto;
width: 1180px;
}
.user-logo {
float: left;
width: 410px;
}
.user-logo a, .user-logo .line {
display: block;
float: left;
}
.user-logo .img {
margin-top: 15px;
}
.user-logo .line {
background: #fff none repeat scroll 0 0;
height: 40px;
margin: 10px 17px 0 19px;
width: 1px;
}
.user-logo .tit {
color: #f5f5f5;
font-size: 14px;
line-height: 1;
margin-top: 12px;
text-align: center;
width: 80px;
}
.user-logo .return {
border: 1px solid #7bb8de;
border-radius: 9px;
color: #7bb8de;
font-size: 12px;
height: 18px;
line-height: 17px;
margin-top: 6px;
text-align: center;
width: 80px;
}
.user-logo .return:hover {
background: #fff none repeat scroll 0 0;
border-color: #fff;
color: #007bc7;
}
.user-tab {
float: left;
font-size: 14px;
height: 36px;
line-height: 36px;
margin-left: 60px;
padding: 12px 0;
width: 210px;
}
.user-tab li {
float: left;
position: relative;
}
.user-tab a {
color: #f5f5f5;
}
.user-tab li .arrow {
display: none;
height: 8px;
left: 19px;
position: absolute;
top: -12px;
width: 16px;
}
.user-tab li.tab2 .arrow {
left: 35px;
}
.user-tab li.active .arrow {
display: block;
}
.user-tab .tab2 {
margin-left: 43px;
}
.user-tab dl {
position: relative;
}
.user-tab dl dt {
color: #f5f5f5;
padding: 0 20px 0 16px;
width: 111px;
}
.user-tab dl dt b {
display: inline-block;
height: 6px;
margin-left: 6px;
transition: transform 0.1s ease-in 0s;
vertical-align: middle;
width: 9px;
}
.user-tab dl:hover dt {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #fff;
border-color: #e0e0e0 #e0e0e0 -moz-use-text-color;
border-image: none;
border-style: solid solid none;
border-width: 1px 1px 0;
color: #333333;
line-height: 35px;
padding: 0 19px 0 15px;
}
.user-tab dl:hover dt b {
background-position: 0 -33px;
transform: rotate(180deg);
}
.user-tab dl dd {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #fff;
border-color: -moz-use-text-color #ddd #ddd;
border-image: none;
border-style: none solid solid;
border-width: 0 1px 1px;
display: none;
left: 0;
padding: 5px 0 10px;
position: absolute;
top: 34px;
width: 111px;
z-index: 100;
}
.user-tab dl dd a {
color: #666666;
display: block;
height: 32px;
line-height: 32px;
padding-left: 14px;
}
.user-tab dl dd a:hover {
color: #007bc7;
}
.user-tab dl:hover dd {
display: block;
}
.user-info {
background: #fff none repeat scroll 0 0;
margin-bottom: 10px;
padding: 20px 0 20px 20px;
}
.user-info-head {
float: left;
margin-right: 20px;
width: 100px;
}
.user-info-head img {
border-radius: 50%;
height: 100px;
width: 100px;
}
.user-info-status {
float: left;
padding-top: 30px;
}
.user-info-status h2 {
color: #333333;
font-size: 18px;
font-weight: normal;
line-height: 1;
margin-bottom: 10px;
}
.user-info-status p {
color: #999;
font-size: 12px;
margin-top: 5px;
}
.user-info-status .rank {
color: #666666;
height: 16px;
line-height: 16px;
}
.user-info-status .rank b {
background: rgba(0, 0, 0, 0) url("../Image/User/userIcon.png") no-repeat scroll 0 -46px;
display: inline-block;
height: 16px;
margin-right: 5px;
vertical-align: top;
width: 20px;
}
.user-info-status p a {
margin-left: 10px;
}
.user-info-list {
float: right;
padding-top: 48px;
}
.user-info-list li {
float: left;
width: 106px;
}
.user-info-list li p {
color: #999999;
font-size: 12px;
text-align: center;
}
.user-info-list li .icon {
padding-bottom: 10px;
}
.user-info-list li span {
background: rgba(0, 0, 0, 0) url("../Image/User/userIcon.png") no-repeat scroll 0 0;
display: inline-block;
height: 20px;
transition: transform 0.2s ease-in 0s;
vertical-align: top;
width: 30px;
}
.user-info-list li a:hover span {
transform: translateY(-5px);
}
.user-info-list li span.icon1 {
background-position: 0 -72px;
}
.user-info-list li span.icon2 {
background-position: 0 -105px;
}
.user-info-list li span.icon3 {
background-position: 0 -139px;
}
.user-info-list li span.icon4 {
background-position: 0 -173px;
}
.user-info-list li em {
color: #e85555;
padding-left: 5px;
}
.userCont {
margin: 0 auto 20px;
width: 1180px;
}
.uCont {
background: #fff none repeat scroll 0 0;
color: #666666;
font-size: 14px;
}
.uList {
height: auto;
overflow: hidden;
}
.uList li {
height: 28px;
line-height: 28px;
padding-left: 20px;
position: relative;
}
.uList li.tit {
color: #333;
font-size: 14px;
line-height: 24px;
}
.tipnum {
color: #e85555;
font-size: 12px;
text-align: center;
text-indent: 0;
}
.uList .current > a {
color: #007bc7;
}
.uList a {
color: #666;
display: block;
font-size: 12px;
height: 28px;
line-height: 28px;
text-align: left;
}
.uList li a:hover {
color: #007bc7;
}
.list-buy {
margin-top: 14px;
}
.bgSpan {
background: red none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 50%;
box-shadow: 0 0 4px #666;
display: inline-block;
height: 8px;
left: 6px;
margin-top: -4px;
position: absolute;
top: 50%;
width: 8px;
}
.uLe {
float: left;
margin-top: 22px;
width: 140px;
}
.figure {
width: 100%;
}
.figure div {
background: #ffffff none repeat scroll 0 0;
margin-top: 30px;
}
.figure img {
border: 4px solid #ffffff;
border-radius: 50%;
height: 90px;
margin-top: -30px;
width: 90px;
}
.figure h1 {
color: #666666;
font-size: 18px;
line-height: 1.6;
padding: 6px 20px 10px;
text-align: center;
}
.uRi {
background: #fff none repeat scroll 0 0;
float: right;
margin-top: 22px;
min-height: 600px;
padding: 0 10px;
position: relative;
width: 1040px;
}
.uRi .uTop {
border-bottom: 1px solid #e0e0e0;
height: 50px;
position: relative;
}
.uTop h1 {
color: #333333;
float: left;
font-size: 14px;
font-weight: normal;
line-height: 50px;
}
.uTop h1 a {
color: #777777;
}
.uTop h1 a:hover {
color: #00c9ff;
}
.utopBtn {
float: right;
padding-top: 12px;
}
.utopBtn li {
float: left;
margin-left: 10px;
width: 60px;
}
.utopBtn li a {
border: 1px solid #999999;
border-radius: 2px;
color: #666666;
display: block;
font-size: 14px;
height: 24px;
line-height: 24px;
text-align: center;
width: 60px;
}
.utopBtn li a.currentTab {
background: #007bc7 none repeat scroll 0 0;
border-color: #007bc7;
color: #fff;
}
.uC .panel {
display: block;
height: auto;
margin-bottom: 20px;
overflow: hidden;
position: relative;
}
a {
color: #007bc7;
}
.customer-img {
border-radius: 50%;
height: 42px;
margin-bottom: 6px;
width: 42px;
}
.customer-name {
text-align: center;
}
.panel-tab {
height: 30px;
line-height: 30px;
margin-bottom: 10px;
}
.panel-tab a {
margin-right: 20px;
}
.order-detail {
margin-bottom: 10px;
margin-top: 10px;
padding-left: 20px;
}
.panel-tab-check {
border-bottom: 1px solid #007bc7;
color: #007bc7;
}
.order-num {
margin-right: 20px;
}
.order-name {
margin-right: 20px;
}
.order-product {
margin-top: 14px;
}
.eva-btn {
border: 1px solid #00b095;
color: #00b095;
cursor: pointer;
height: 28px;
line-height: 28px;
position: absolute;
right: 26px;
text-align: center;
top: 28px;
width: 60px;
}
.eva-btn:hover {
background: #00b095 none repeat scroll 0 0;
color: #fff;
}
.eva-success {
line-height: 2.5;
margin-bottom: 10px;
padding-left: 20px;
}
.success-eva {
margin-right: 10px;
}
.panelNone {
border: 0 none;
color: #333;
font-size: 16px;
height: 1044px !important;
padding-top: 100px !important;
text-align: center;
}
.mx_people {
overflow: hidden;
text-align: center;
width: 60px;
}
.color999 {
color: #999;
}
.errorElement {
color: red;
font-weight: normal;
}
.tarea {
width: 510px;
}
.order-num:hover {
color: #23c9fd;
}
.order-name:hover {
color: #23c9fd;
}
.order-name1:hover {
color: #23c9fd;
}
.customer-name:hover {
color: #23c9fd;
}
.tables {
height: auto;
overflow: hidden;
}
.tables li {
cursor: pointer;
float: left;
}
.tables a {
display: inline-block;
text-align: left;
}
.tabCont {
height: auto;
overflow: hidden;
}
.tabCont .state {
display: none;
}
.tabCont .state.current {
display: block;
}
.evaSuccess {
display: none;
}
.evaSuccessCom {
padding: 60px 170px;
}
.successWord {
line-height: 2.5;
margin-left: 10px;
}
.myProfileForm {
padding-bottom: 20px;
}
.myProfileForm .form-buttom {
background: #61c4a7 none repeat scroll 0 0;
color: #fff;
display: inline-block;
height: 30px;
line-height: 30px;
margin: 0;
padding: 0 56px;
}
.myProfileForm .form-buttom:hover {
background: #45aa8f none repeat scroll 0 0;
}
.myProfile {
border-bottom: 1px solid #e0e0e0;
margin-top: 7px;
}
.myProfile a {
color: #666666;
font-size: 14px;
height: 35px;
line-height: 35px;
padding: 0 14px;
}
.myProfile .current a {
border-bottom: 3px solid #007cbc;
color: #007bc7;
}
.myProfile-panel .form-label {
color: #939393;
font-size: 14px;
width: 196px;
}
.myProfile-panel span, .myProfile-panel a {
display: inline-block;
float: left;
height: 30px;
line-height: 30px;
}
.myProfile-panel span {
color: #4b4b4b;
font-size: 16px;
}
.myProfile-panel a {
font-size: 14px;
margin-left: 10px;
}
.myProfile-panel h5 {
color: #a1c2cf;
font-size: 12px;
line-height: 1;
margin-left: 196px;
margin-top: 10px;
text-align: left;
}
.qqSina .qq, .qqSina .sina {
color: #777777;
font-size: 16px;
height: 35px;
line-height: 35px;
margin-right: 20px;
padding-left: 35px;
}
.qqSina .qq {
background: rgba(0, 0, 0, 0) url("../Image/User/qq.png") no-repeat scroll left center;
}
.qqSina .sina {

}
.myProfile-panel .checkbox-input {
margin-left: 0;
}
.imitRi {
height: 100%;
position: absolute;
right: 42px;
width: auto;
}
.imitRi a {
padding: 12px 0 12px 33px;
}
.imitRi i {

display: inline-block;
height: 14px;
position: relative;
top: 2px;
width: 32px;
}
.comNet a {
cursor: pointer;
}
.imitRi a:hover, .imitRi a:active {
}
.imitRi a:hover i {
background-position: right -70px;
}
.imitRi a:active i {
background-position: right -153px;
}
.vouchers {
margin-top: 20px;
width: 100%;
}
.vouchers.vouchers-liks {
width: 98%;
}
.vouchers th, .vouchers td {
font-size: 14px;
}
.vouchers th {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color -moz-use-text-color #d6dcde;
border-image: none;
border-style: none none solid;
border-width: medium medium 1px;
color: #777777;
font-size: 14px;
height: 30px;
line-height: 30px;
}
.vouchers td {
border: medium none;
color: #4b4b4b;
padding: 6px 0;
text-align: center;
}
.vouchers span {
background: rgba(0, 0, 0, 0) url("../Image/User/co-2.png") no-repeat scroll 0 0;
display: inline-block;
height: 25px;
line-height: 25px;
width: 49px;
}
.vouchers span.tdSpan {
background: rgba(0, 0, 0, 0) url("../Image/User/co-1.png") no-repeat scroll 0 0;
}
.vouchLe {
color: #4b4b4b;
padding-bottom: 8px;
padding-left: 25px;
width: 568px;
}
.vouchLe p {
margin: 0 0 10px;
}
.vouchRi {
padding-top: 50px;
width: 300px;
}
.vouchLe span {
color: #4b4b4b;
display: block;
font-size: 16px;
padding: 15px 0;
text-align: left;
}
.vouchRi p, .vouchLe p {
color: #777777;
font-size: 14px;
text-align: left;
}
.vouchRi a {
background: #b1ca6e none repeat scroll 0 0;
color: #ffffff;
display: inline-block;
padding: 2px 8px;
}
.vouchRi a:hover {
background: #769f3c none repeat scroll 0 0;
}
.vouchRi a.voucha1, .vouchRi a.voucha {
border-radius: 4px;
color: #4b4b4b;
margin-left: 15px;
padding-left: 40px;
}
.vouchRi a.voucha {
background: #ededed url("../Image/User/share.png") no-repeat scroll 0 0;
}
.vouchRi a.voucha1 {
background: #ededed url("../Image/User/share1.png") no-repeat scroll 0 0;
}
.vouchLe.vouchAll {
width: 100%;
}
.invitaReg {
background: #f8f8f8 none repeat scroll 0 0;
border-bottom: 1px solid #d6dcde;
color: #4b4b4b;
font-size: 16px;
height: 45px;
line-height: 45px;
text-align: left;
text-indent: 20px;
}
.invitaRegWrap p {
line-height: 1.6;
text-align: center;
}
.balanceWrap {
color: #939393;
font-size: 14px;
margin: 20px;
text-align: left;
}
.bRi {
color: green;
line-height: 1.5;
padding-left: 20px;
}
.balanceWrap .applyBut {
background: #a8a9a9 none repeat scroll 0 0;
border: medium none;
border-radius: 6px;
clear: both;
color: #ffffff;
cursor: pointer;
display: block;
font-size: 14px;
height: 30px;
line-height: 30px;
text-align: center;
width: 60px;
}
.balanceWrap .applyBut:hover, .balanceWrap .applyBut:focus {
border: medium none !important;
outline: medium none !important;
}
.invitaRegImg {
margin: 0 19px 0 15px;
position: relative;
top: 15px;
}
.evalLists {
height: auto;
overflow: hidden;
width: 100%;
}
.evalLists li {
border-left: 1px solid #d6dcde;
color: #4b4b4b;
float: left;
font-size: 14px;
height: 90px;
line-height: 90px;
text-align: center;
width: 14%;
}
.evalLists .typeName {
border-left: medium none;
width: 57%;
}
.typeName img {
padding: 29px 10px 0 20px;
}
.typeName span {
color: #4b4b4b;
display: block;
font-size: 16px;
text-align: left;
}
.evalLists li a {
color: #4b4b4b;
display: block;
font-size: 14px;
}
.evalLists li a:hover {
color: #00a9e0;
}
.ordersList, .oListCont {
height: auto;
overflow: hidden;
}
.ordersList .orderList {
height: auto;
width: 100%;
}
.ordersList > li {
border-top: 1px solid #d6dcde;
color: #4b4b4b;
float: left;
font-size: 14px;
height: auto;
line-height: 90px;
min-height: 90px;
overflow: hidden;
width: 100%;
}
.ordersList .oLBorder {
border-top: medium none;
}
.oListCont li {
float: left;
text-align: center;
}
.olFirst {
height: auto;
overflow: hidden;
width: auto;
}
.typeInfor {
width: 335px;
}
.typeInfor img {
padding: 29px 10px 0 20px;
}
.typeInfor span {
color: #4b4b4b;
display: block;
font-size: 16px;
line-height: 1.5;
padding-left: 20px;
text-align: left;
}
.typeInfor .textImgSeparation {
padding-top: 22px;
}
.typeNum {
width: 55px;
}
.marginR10 {
margin-right: 10px !important;
}
.oAddress {
padding: 0 5px;
}
.oListCont .typeDetails {
float: right;
line-height: 2;
margin-left: 30px;
margin-top: 30px;
}
.typeDetails a {
color: #4b4b4b;
cursor: pointer;
display: inline-block;
font-size: 14px;
margin-right: 20px;
}
.typeDetails a:hover {
color: #00a9e0;
}
.companyInfor {
background: #f8f8f8 none repeat scroll 0 0;
border-top: 1px solid #d6dcde;
clear: both;
height: auto;
overflow: hidden;
position: relative;
width: 100%;
}
.companyInfor ul {
height: auto;
overflow: hidden;
padding: 15px 20px;
width: 81%;
}
.companyInfor li {
color: #4b4b4b;
font-size: 14px;
line-height: 2;
text-align: left;
width: 100%;
}
.inforCancel {
height: 100%;
position: absolute;
right: 10px;
top: 0;
width: 150px;
}
.inforCancel a {
background: #e46060 none repeat scroll 0 0;
border-radius: 6px;
clear: both;
color: #ffffff;
display: block;
font-size: 14px;
height: 40px;
line-height: 40px;
text-align: center;
width: 150px;
}
.inforCancel a:hover {
background: #00c9ff none repeat scroll 0 0;
}
.inforCancel .cancelBut {
background: #a8a9a9 none repeat scroll 0 0;
margin: 11px 0 10px;
}
.inforCancel .cancelBut:hover {
background: #595758 none repeat scroll 0 0;
}
.evalLists.companyLists .typeName {
width: 72%;
}
.evalLists.companyLists .typeName span {
line-height: 1.5;
margin-top: 35px;
padding-left: 20px;
}
.evalLists.companyLists .typeName .areCCurrent {
margin-top: 0;
}
.textAreCurrent {
padding-top: 22px;
}
.pubDown {
background: red none repeat scroll 0 0;
clear: both;
height: auto;
margin-top: 20px;
width: 100%;
}
.dTitle {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: #f5f7f7 none repeat scroll 0 0;
border-color: #e4e4e4 #e4e4e4 -moz-use-text-color;
border-image: none;
border-style: solid solid none;
border-width: 1px 1px medium;
color: #595758;
font-size: 16px;
height: 40px;
line-height: 40px;
text-align: left;
text-indent: 30px;
width: 100%;
}
.dCont {
background: #ffffff none repeat scroll 0 0;
border: 1px solid #e4e4e4;
height: auto;
width: 100%;
}
.dCont ul {
overflow: hidden;
}
.dCont .group, .dCont .floatLeft, .dCont .floatRight {
width: 434px;
}
.dCont .group, .dCont .floatLeft {
padding-bottom: 15px;
}
.dCont .floatRight {
border-left: 1px solid #e4e4e4;
color: #595758;
font-size: 14px;
line-height: 1.8;
padding-left: 30px;
text-align: left;
}
.dCont li {
float: left;
text-align: center;
width: 144.6px;
}
.dCont img {
margin: 30px 0 20px;
vertical-align: top;
}
.dCont span {
clear: both;
color: #595758;
display: inline-block;
font-size: 14px;
overflow-wrap: break-word;
padding: 0 5px;
text-align: center;
width: 100%;
}
.dCont a {
color: #008bc2;
display: inline-block;
font-size: 14px;
text-align: center;
}
.dCont h4 {
color: #595758;
font-size: 14px;
height: 40px;
line-height: 40px;
margin-top: 20px;
text-align: left;
}
.dCont p {
color: #595758;
font-size: 14px;
line-height: 1.8;
text-align: left;
}
.dCont .floatRight span {
clear: none;
color: inherit;
padding: 0;
width: auto;
}
.dCont .floatRight p {
margin: 0;
}
.ginseng_infor {
background: #ffffff none repeat scroll 0 0;
border: medium none;
height: auto;
overflow: hidden;
width: 100%;
}
.ginseng_infor caption {
background: #c3bfb9 none repeat scroll 0 0;
color: #ffffff;
font-size: 16px;
height: 40px;
line-height: 40px;
text-align: left;
text-indent: 30px;
width: 100%;
}
.ginseng_infor td {
border: 1px solid #d6dcde;
color: #595758;
font-size: 14px;
line-height: 35px;
}
.ginseng_infor .ginseng_title {
background: #f5f7f7 none repeat scroll 0 0;
color: #595758;
font-size: 16px;
line-height: 35px;
text-align: left;
text-indent: 30px;
}
.ginseng_infor .prompt {
color: #595758;
font-weight: bold;
padding: 18px 20px;
text-align: justify;
}
.prompt p {
color: #595758;
font-weight: normal;
line-height: 1.8;
padding-left: 25px;
}
.ginseng_infor a, .ginseng_infor span {
display: inline-block;
}
.ginseng_infor a {
color: #008bc2;
float: right;
margin-right: 25px;
}
.ginseng_infor a:hover {
color: #00c9ff;
}
.ginseng_infor span {
color: green;
float: left;
font-weight: bold;
margin-left: 25px;
}
.noText-mar.noText {
margin-right: 8px;
}
.LiManager {
margin-top: 22px;
}
.mmImg, .managerImg {
border-radius: 50%;
}
.managerImg {
height: 140px;
margin-left: 30px;
width: 140px;
}
.LiManagerDiv {
padding-left: 35px;
width: 345px;
}
.LiManagerDiv p {
color: #605f5f;
font-size: 14px;
line-height: 1.6;
margin-bottom: 24px;
position: relative;
text-align: left;
}
.LiManagerDiv .managerFirst {
margin-bottom: 15px;
margin-top: 4px;
}
.managerFirst span {
display: block;
width: 100%;
}
.LiManager .LiManagerDiv em {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
color: #f14b4b;
display: block;
height: auto;
overflow: hidden;
position: inherit;
text-align: left;
width: auto;
}
img.managericonqq {
left: 0;
position: relative;
top: 0;
vertical-align: middle;
width: auto;
}
.LiManagerDiv i {
background: rgba(0, 0, 0, 0) url("../Image/User/managericon.png") no-repeat scroll 0 -2px;
display: inline-block;
float: left;
height: 25px;
width: 28px;
}
.manWeixin {
display: inline-block;
left: 15px;
min-height: 16px;
min-width: 180px;
position: relative;
top: 2px;
}
.manWeixin-img {
bottom: -20px;
display: none;
height: 240px;
left: 95px;
position: absolute;
width: 180px;
z-index: 999999;
}
.LiManagerDiv .manager-email {
background-position: 0 -37px;
}
.LiManagerDiv .manager-mobile {
background-position: 0 -82px;
}
.LiManagerDiv .manager-qq {
background-position: 0 -2px;
}
.LiManagerDiv .manager-weixin {
background-position: 0 -134px;
}
.LiManagerDiv .manager-manWeixin {
background-position: -3px -186px;
float: none;
height: 16px;
left: 0;
position: absolute;
top: 2px;
width: 16px;
}
.LiManagerDiv .manWeixin:hover img {
display: block;
}
.myManager {
background: rgba(0, 0, 0, 0) url("../Image/User/mymanager.jpg") no-repeat scroll center center;
height: 300px;
margin-top: 25px;
padding-left: 213px;
width: 100%;
}
.myMImg {
margin-top: 79px;
}
.myManager p {
color: #f1f2f6;
font-size: 14px;
line-height: 1.68;
margin: 20px 0 12px;
width: 365px;
}
.myManager h3 {
color: #ffffff;
font-size: 30px;
}
.myManagerDiv {
position: relative;
}
.mmImg {
height: 80px;
margin: 20px 0 20px 40px;
width: 80px;
}
.myManagerText {
padding-left: 25px;
width: 690px;
}
.myManagerText h4 {
color: #8c8c8c;
font-size: 14px;
line-height: 1;
margin: 34px 0 26px;
}
.myManagerText span {
font-weight: normal;
margin-left: 0;
}
.myManagerList {
height: auto;
overflow: hidden;
}
.myManagerList li {
background: #f5b04d none repeat scroll 0 0;
border-radius: 13px;
color: #ffffff;
cursor: default;
float: left;
font-size: 14px;
height: 25px;
line-height: 25px;
margin-bottom: 18px;
margin-right: 10px;
padding: 0 14px;
width: auto;
}
.myMEvaluat {
height: 78px;
margin-top: -39px;
position: absolute;
right: 38px;
top: 50%;
width: 132px;
}
.myMEvaluat .wrapStar {
margin: 0 0 0 4px !important;
width: 135px;
}
.myMEvaluat .star {
background: rgba(0, 0, 0, 0) url("../Image/User/newstar.png") no-repeat scroll left 0;
height: 30px;
width: 100%;
}
.myMEvaluat .star span {
background: rgba(0, 0, 0, 0) url("../Image/User/atar.png") no-repeat scroll center 0;
display: inline-block;
float: left;
height: 20px;
margin-right: 7px;
width: 20px;
}
.myMEvaluat .star .starOk {
background-position: center -46px;
}
.myMEvaluat .starIfor {
height: 40px;
}
.myMEvaluat .starIfor div {
float: left;
font-size: 14px;
height: 40px;
margin-bottom: 4px;
text-align: center;
width: 49%;
}
.myMEvaluat .starIfor div em {
color: #444;
display: block;
}
.myMEvaluat .starIfor div span {
color: #f6ae54;
display: block;
font-weight: bold;
height: 25px;
line-height: 25px;
}
.myMEvaluat .stRi {
border-left: 1px solid #d4d4d4;
width: 49%;
}
.myInforDiv {
margin: 35px 0;
overflow: hidden;
width: 375px;
}
.myInforDiv em, .myInforDiv span {
float: left;
}
.myInforDiv span {
color: #595758;
display: block;
font-size: 14px;
line-height: 2.1;
width: 100%;
}
.myInforDiv em {
color: #9ea19f;
text-align: right;
width: 45px;
}
.myInforDiv a {
display: inline-block;
left: 5px;
position: relative;
top: 4px;
}
.newMyManagerDiv .myManagerText {
padding-left: 20px;
width: 300px;
}
.newMyManagerDiv .myManagerText h4 {
margin: 38px 0 10px;
}
.newMyManagerDiv .myManagerText span {
color: #9ea19f;
font-size: 14px;
}
.newMyManagerDiv {
margin-top: 34px;
}
.comPrice {
margin: 25px auto 0;
width: 385px;
}
.comPrice th, .comPrice td {
border: 1px solid #e8debb;
color: #595758;
font-size: 14px;
font-weight: normal;
line-height: 30px;
}
.comPrice th {
background: #f5f5f5 none repeat scroll 0 0;
border-bottom: 1px solid #ffffff;
}
.comPrice td {
background: #ffffff none repeat scroll 0 0;
}
.invitaRegSb > span, .invitaRegSb em, .sbListLe span, .sbListLe em, .sbListLe p, .sbLists > li {
float: left;
}
.sbListLe span, .sbListLe em {
display: inline-block;
font-size: 12px;
}
.invitaRegSb > span em {
font-size: 12px;
}
.invitaRegSb em {
margin-right: 40px;
}
.invitaRegSb > a {
display: inline-block;
float: right;
font-size: 12px;
height: 100%;
text-align: center;
text-indent: 0;
width: 105px;
}
.invitaRegSb .providersSb {
margin: 0 0 0 -30px;
}
.providersSb > a {

display: inline-block;
float: left;
height: 45px;
margin-right: 10px;
width: 15px;
}
.providersSb > .providerQQ {
background-position: -49px center;
}
.providersSb > .providerQQ:hover, .providersSb > .providerQQ:active {
background-position: 1px center;
}
.providersSb > .providerTh {
background-position: -73px center;
}
.providersSb > .providerTh:hover, .providersSb > .providerTh:active {
background-position: -23px center;
}
.sbListLe {
border-right: 1px solid #d6dcde;
min-height: 146px;
position: relative;
width: 190px;
}
.sbListLe > div {
height: 92px;
left: 0;
margin-top: -46px;
position: absolute;
top: 50%;
width: 190px;
}
.sbListLe span {
line-height: 1.9;
width: 100%;
}
.sbListLe em {
color: #9ea19f;
text-align: right;
width: 86px;
}
.sbListLe p {
color: #595758;
max-width: 94px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.sbListDiv {
height: 114px;
margin: 0 auto;
position: relative;
width: 443px;
}
.sbListDiv > span {
background: #dcdedd none repeat scroll 0 0;
height: 2px;
position: absolute;
top: 87px;
width: 100%;
}
.sbListDiv > .current {
background: #51c5a8 none repeat scroll 0 0;
width: 100px;
}
.sbListDiv > .state {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
top: 81px;
}
.state em {

height: 13px;
left: 0;
position: absolute;
width: 13px;
}
.state .ok {
background-position: 0 center;
}
.state .sbNextStep {
background-position: -83px center;
}
.state .e10 {
left: 0;
}
.state .e20 {
left: 86px;
}
.state .e30 {
left: 172px;
}
.state .e40 {
left: 258px;
}
.state .e50 {
left: 344px;
}
.state .e60 {
left: 430px;
}
.sbList {
height: auto;
overflow: hidden;
width: 718px;
}
.sbListDiv ul {
height: 40px;
left: -36px;
line-height: 40px;
margin: 0 auto;
overflow: hidden;
position: absolute;
top: 42px;
width: 516px;
}
.sbListDiv ul > li {
color: #000000;
float: left;
font-size: 12px;
text-align: center;
width: 86px;
}
.sbList > p {
color: #9ea19f;
font-size: 12px;
line-height: 1.4;
padding: 12px 26px 20px;
text-align: center;
}
.sbTPanel {
width: 100%;
}
.sbTPanel th, .sbTPanel td {
border: medium none;
color: #565656;
padding-left: 24px;
text-align: left;
}
.sbTPanel th {
background: #efefef none repeat scroll 0 0;
font-size: 14px;
font-weight: normal;
padding: 12px 0 12px 24px;
}
.sbTPanel td {
font-size: 12px;
padding: 25px 0 25px 24px;
}
.sbTPanel .sbTTd1 {
width: 24%;
}
.sbTPanel .sbTTd2 {
width: 34%;
}
.sbTPanel .sbTTd3 {
width: 21%;
}
.sbTPanel .sbTTd4 {
width: 21%;
}
.sbTTd4 a {
border-right: 1px solid #4b4b4b;
color: #4b4b4b;
float: left;
line-height: 1;
padding: 1px 5px;
}
.sbTTd4 a:hover {
border-right: 1px solid #407ec2;
color: #407ec2;
}
.sbTTd4 .nos, .sbTTd4 .nos:hover {
border-right: medium none;
}
.sbTPanel tr {
border-top: 1px solid #d6dcde;
}
.sbTPanel .noTrBg {
border-top: medium none;
}
.sbTPanel .trBg {
background: #eff9fe none repeat scroll 0 0;
border-top: 1px solid #eff9fe;
}
.tabs-ucom {
margin-top: 0;
position: relative;
}
.tabs-ucom a > em {
color: #565656;
font-size: 14px;
margin-left: 3px;
}
.tabs-ucom .active a > em, .tabs-ucom a:hover > em {
color: #00c8ff;
}
.tabs-ucom .searcha {
bottom: 13px;
height: 30px;
line-height: 30px;
padding: 0 13px;
position: absolute;
right: 0;
}
.sbUTop {
position: relative;
}
.sbUTop30 {
margin-top: 30px;
}
.sbUTop span {
color: #565656;
display: inline-block;
float: left;
font-size: 16px;
height: 30px;
line-height: 30px;
text-align: left;
}
.sbUTop a {
float: right;
height: 30px;
line-height: 30px;
margin-bottom: 5px;
padding: 0 18px;
}
.sbCom .buyRadia li {
margin: 0 20px 0 0;
width: auto;
}
.sbCom .buyRadia .radios {
padding-right: 18px;
}
.sbCom .text-input, .sbCom .pass-input {
width: 374px;
}
.sbCom {
margin: 0 auto;
width: 516px;
}
.saveDefault {
text-align: center;
}
.saveDefault a {
display: inline-block;
font-size: 14px;
height: 26px;
line-height: 26px;
margin: 5px 0 35px;
text-align: center;
width: 144px;
}
.inputClickPos {
height: auto;
line-height: normal;
overflow: inherit;
position: relative;
}
#Shareholder-table .companyMean .inputClickShow > li {
margin-bottom: 0;
text-align: left;
}
.Shareholder-table.comTd .inputClickShow > li {
position: static !important;
}
#Shareholder-table .companyMean .inputClickShow li:hover {
background: #f5f5f5 none repeat scroll 0 0 !important;
}
.inputClickShow {
background: #ffffff none repeat scroll 0 0;
display: none;
left: 105px;
position: absolute;
top: 35px;
width: 396px;
z-index: 100;
}
.inputClickPos ul {
-moz-border-bottom-colors: none !important;
-moz-border-left-colors: none !important;
-moz-border-right-colors: none !important;
-moz-border-top-colors: none !important;
border-color: -moz-use-text-color #c9c9c9 #c9c9c9 !important;
border-image: none !important;
border-style: none solid solid !important;
border-width: medium 1px 1px !important;
top: 35px;
}
.inputClickPos li {
color: #595758;
cursor: default !important;
font-size: 12px !important;
height: 22px !important;
line-height: 22px !important;
margin: 0 !important;
text-indent: 14px;
}
.inputClickPos li:hover {
background: #f5f5f5 none repeat scroll 0 0;
}
.sbPopEditorEr {
display: none;
}
.sbPopEditor .saveDefault a {
height: 32px;
line-height: 32px;
margin-bottom: 15px;
}
.sbPopGray {
background: #c9c9c9 none repeat scroll 0 0;
color: #ffffff;
}
.sbPopGray:hover {
background: #9f9f9f none repeat scroll 0 0;
color: #ffffff;
}
.sbPopR {
margin-left: 20px !important;
}
.sbComOderIfor h6 {
color: #595758;
float: left;
font-size: 14px;
font-weight: normal;
line-height: 1;
margin: 20px 0 12px;
text-indent: 10px;
width: 100%;
}
.sbComOderIfor hr {
background: #efefef none repeat scroll 0 0;
border: medium none;
float: left;
height: 1px;
margin: 12px 0 0;
padding: 0;
width: 100%;
}
.noUpImg {
height: 135px;
margin-left: 15px;
width: 135px;
}
.sbPopEditorWrap {
background: #ffffff none repeat scroll 0 0;
height: 100%;
}
.listIcon, .listIcon1, .listIcon2, .listIcon3, .listIcon4, .listIcon5, .listIcon001, .listIcon002, .listIcon003, .listIcon004, .listIcon005, .listIcon006, .listIcon007, .listIcon008, .listIcon009, .listIcon0010, .listIcon0011, .listIcon0012, .listIcon0040, .listIcon0080, .listIcon0084, .listIcon0085, .listIcon0086, .listIcon6 {

}
.listIcon {
background-position: 40px 13px;
}
.listIcon1 {
background-position: 40px -16px;
}
.listIcon2 {
background-position: 40px -43px;
}
.listIcon3 {
background-position: 40px -72px;
}
.listIcon4 {
background-position: 40px -1134px;
}
.listIcon5 {
background-position: 40px -1072px;
}
.listIcon6 {
background-position: 40px -1671px;
}
.listIcon:hover {
background-position: 40px -100px;
}
.listIcon1:hover {
background-position: 40px -132px;
}
.listIcon2:hover {
background-position: 40px -165px;
}
.listIcon3:hover {
background-position: 40px -198px;
}
.listIcon4:hover {
background-position: 40px -1173px;
}
.listIcon5:hover {
background-position: 40px -1105px;
}
.listIcon6:hover {
background-position: 40px -1720px;
}
.listIcon001 {
background-position: 40px -305px;
}
.listIcon002 {
background-position: 40px -232px;
}
.listIcon003 {
background-position: 40px -373px;
}
.listIcon004 {
background-position: 40px -443px;
}
.listIcon005 {
background-position: 40px -508px;
}
.listIcon006 {
background-position: 40px -575px;
}
.listIcon007 {
background-position: 40px -646px;
}
.listIcon008 {
background-position: 40px -786px;
}
.listIcon009 {
background-position: 40px -716px;
}
.listIcon0010 {
background-position: 40px -858px;
}
.listIcon0011 {
background-position: 40px -1000px;
}
.listIcon0012 {
background-position: 40px -928px;
}
.listIcon0040 {
background-position: 40px -1210px;
}
.listIcon0080 {
background-position: 40px -1292px;
}
.listIcon0084 {
background-position: 40px -1483px;
}
.listIcon0085 {
background-position: 40px -1381px;
}
.listIcon0086 {
background-position: 40px -1580px;
}
.listIcon001:hover {
background-position: 40px -339px;
}
.listIcon002:hover {
background-position: 40px -270px;
}
.listIcon003:hover {
background-position: 40px -408px;
}
.listIcon004:hover {
background-position: 40px -479px;
}
.listIcon005:hover {
background-position: 40px -543px;
}
.listIcon006:hover {
background-position: 40px -612px;
}
.listIcon007:hover {
background-position: 40px -684px;
}
.listIcon008:hover {
background-position: 40px -824px;
}
.listIcon009:hover {
background-position: 40px -752px;
}
.listIcon0010:hover {
background-position: 40px -894px;
}
.listIcon0011:hover {
background-position: 40px -1036px;
}
.listIcon0012:hover {
background-position: 40px -966px;
}
.listIcon0040:hover {
background-position: 40px -1252px;
}
.listIcon0080:hover {
background-position: 40px -1335px;
}
.listIcon0084:hover {
background-position: 40px -1532px;
}
.listIcon0085:hover {
background-position: 40px -1430px;
}
.listIcon0086:hover {
background-position: 40px -1628px;
}
.consultList {
border: 1px solid #f1f1f1;
padding: 0 20px;
}
.consultList li {
border-top: 1px solid #f1f1f1;
font-size: 14px;
line-height: 33px;
padding: 14px 0;
}
.consultList li.firstLi {
border: medium none;
}
.consultList li .faq {
color: #00a8e3;
}
.consultList li .con {
color: #595758;
}
.copyright .state .e20 {
left: 148px;
}
.copyright .state .e30 {
left: 294px;
}
.copyright .state .e40 {
left: 439px;
}
.copyright.sbListDiv ul {
left: -69px;
width: 592px;
}
.copyright.sbListDiv ul > li {
width: 147px;
}
.inputLayout .ovflowVisible, .ovflowVisible {
overflow: visible;
position: relative;
}
.associateList {
background-color: #fff;
border: 1px solid #769f3c;
display: none;
left: 110px;
position: absolute;
top: 33px;
width: 374px;
z-index: 10;
}
.associateList li {
cursor: pointer;
font-size: 14px;
line-height: 34px;
margin: 0;
padding-left: 10px;
}
.ComOrder .associateList {
background-color: #fff;
left: 170px;
top: 39px;
width: 307px;
}
.Shareholder-table.comTd .associateList li {
background-color: #fff;
color: #8c8c8c;
float: none;
padding: 0 0 0 10px;
position: static;
text-align: left;
}
.Shareholder-table.comTd .associateList li:hover {
border: medium none;
padding: 0 0 0 10px;
position: static;
}
.refundWite {
line-height: 30px;
margin-bottom: 20px;
margin-right: 44px;
margin-top: 30px;
}
.invitaReg a {
color: #595758;
margin: 0 100px 0 0;
}
.invitaReg .check {
color: #007bc7;
}
.orderManage {
margin-bottom: 80px;
margin-top: 10px;
width: 100%;
}
.orderManage td {
border: 0 none;
}
.orderManage thead td {
background: #f4f4f4 none repeat scroll 0 0;
height: 36px;
}
.orderManage tbody td {
border-bottom: 1px solid #eee;
font-size: 12px;
line-height: 20px;
padding: 10px 0;
}
.verAlign {
vertical-align: middle;
}
.verAlign div {
text-align: left;
}
.ml20 {
margin-left: 20px;
text-align: left;
}
.oM-cz span {
display: inline-block;
height: 24px;
line-height: 24px;
width: 50px;
}
.toPay {
background: #0096f2 none repeat scroll 0 0;
border-radius: 4px;
color: #fff;
display: inline-block;
height: 20px;
width: 50px;
}
.toPay:hover {
background: #007bc7 none repeat scroll 0 0;
color: #fff;
}
.fc-curp {
color: #007bc7;
cursor: pointer;
}
.relative {
position: relative;
}
.popShadow {
background: #fff none repeat scroll 0 0;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 2px 2px 10px #ccc;
color: #666;
display: none;
left: -138px;
padding: 10px;
position: absolute;
top: 18px;
width: 200px;
z-index: 1;
}
.popBtn {
border-radius: 4px;
display: inline-block;
font-size: 12px;
height: 20px;
line-height: 20px;
text-align: center;
width: 40px;
}
.colorBg1 {
background: #57c5a9 none repeat scroll 0 0;
color: #fff;
}
.colorBg2 {
background: #bbb none repeat scroll 0 0;
color: #fff;
}
.arrow {
background: rgba(0, 0, 0, 0) url("../Image/arrow.png") no-repeat scroll 0 0;
height: 10px;
position: absolute;
width: 18px;
}
.cancelOrder {
color: #007bc7;
cursor: pointer;
}
.mt10 {
margin-top: 10px;
}
.mr10 {
margin-right: 10px;
}
.phonenum {
font-size: 30px;
}
.popFoot {
border-top: 1px solid #eee;
margin-top: 20px;
padding-top: 20px;
}
.popFoot a {
background: #9ece69 none repeat scroll 0 0;
color: #fff;
display: inline-block;
height: 30px;
line-height: 30px;
width: 120px;
}
.popFoot a:hover {
background: #80ae50 none repeat scroll 0 0;
}
.myProfile li a.phontBtn {
border: 1px solid #007bc7;
border-radius: 20px;
color: #007bc7;
font-size: 12px;
height: 30px;
line-height: 28px;
}
.myProfile li a.phontBtn:hover {
background: #007bc7 none repeat scroll 0 0;
color: #fff;
}
.fz12 {
font-size: 12px;
}
.textAlign {
text-align: center;
}
.orderManage tbody .joint-purchase-main ~ td {
border-bottom: 0 solid #eee;
padding: 0;
}
.newWL {
left: -80px;
width: 144px;
}

/*111111111111111111*/

.ocps-list {
    margin: 0;
    padding: 20px 0;
}

.ocps-list li.select::before {
    animation: 1s linear 0s alternate none infinite running;
    background: #ff626a none repeat scroll 0 0;
    border: 3px solid #ffe8e9;
    content: "";
}
.clear::after, .clearfix::after{
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.ocps-list li::before {
    background: #ccc none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 20px;
    content: "";
    height: 5px;
    left: -6px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5px;
}

.ocps-list li.select {
    border-left: 1px solid #ffe8e9;
    color: #ff626a;
    padding-bottom: 10px;
}

.ocps-list li {
    border-left: 1px solid #ccc;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 5px;
}

.posr {
    position: relative;
}

.ocps-list li span {
    margin-top: -5px;
    padding-left: 30px;
}

.pull-left_1 {
    float: left;
}

.ocps-list li var {
    margin-top: -5px;
    width: 350px;
}

.pull-right_1 {
    float: right;
}