{% extends 'master_b/layout.html' %}



{% block page_content %}
    <div>
        <button id="add_category" type="button" class="btn btn-primary">添加</button>
    </div>
    <table class="table table-striped" id="tb_content">
        <thead>
        <th></th>
        <th>ID</th>
        <th>名称</th>
        <th>文章数量</th>
        <th>姓名</th>
        <th>操作</th>
        </thead>
        <tbody>
        {% for line in posts.object_list %}
            <tr for="keyword" nid="{{ line.id }}">
                <td><input type="checkbox"></td>
                <td for="id">{{ line.id }}</td>
                <td for="name">{{ line.name }}</td>
                <td>{{ line.counts }}</td>
                <td for="employee_id">{{ line.author.name }}</td>
                <td>
                    <a class="initialize btn glyphicon glyphicon-pencil"></a>
                    <a class="initialize btn glyphicon glyphicon-remove"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade bs-example-modal-sm" id="Add_Ariticle_Info" for="keyword_add" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">X</span></button>
                    <h4 class="modal-title">添加栏目</h4>
                </div>
                <div class="modal-body">
                    <form id="fm_keyword_add" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn_save">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="Model_EditInfo" for="keyword_edit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">X</span></button>
                    <h4 class="modal-title"> 修改栏目</h4>
                </div>
                <div class="modal-body">
                    <form id="fm_edit" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn_send_add">保存</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'master_b/_delSubmit.html' %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/admin_index.js"></script>
{% endblock %}