{% extends 'master_b/layout.html' %}

{% block page_content %}
    <div class="col-md-3">
        <form action="{% url 'author_add' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>作者名字</label>
                <input type="text" name="name" class="form-control">
            </div>
            {% if error %}
                <span style="color: red;">{{ error }}</span>
            {% endif %}
            <div class="form-group" style="margin-top: 40px">
                <button name="submit" type="submit" class="btn btn-primary">作者绑定</button>
            </div>
        </form>
    </div>
{% endblock %}
