{% if bxSlider %}
<div class="main indexFirst" style="margin-bottom: 20px">
    <div class="indexFirst-in">
        <div class="lunhuan">
{#            <div class="lunhuan_main">#}
{#                <div class="lunhuancenter">#}
                    <ul class="bxslider">
                        {% for row in bxSlider %}
                            <li><img src="/{{ row.img }}" style="height: 440px;width: 100%"></li>
                        {% endfor %}
                    </ul>
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</div>
{% endif %}