<div class="main greyf5f5f5 headerOverflowInherit">
    <div id="loginbar" class="minwidth welcomeKfw headerOverflowInherit">
        <ul class="overflowhidden floatLeft headerOverflowInherit">
            <li class="navLocation">
                <a class="locatinIcon" href="javascript:;">
                    <i class="mykfw floatRight"></i>
                    {{ default_city.city }}
                </a>
                <div class="locationLayer">
                    <em></em>
                    <ul>
                        {% for line in city_obj %}
                            <li><a href="{% url 'switch_city' line.id %}">{{ line.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="overflowhidden floatRight headerOverflowInherit">
            {% if not is_login %}
                <li>
                    <a class="noBorder" href="{% url 'login' %}">登录</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">免费注册</a>
                </li>
            {% else %}
                <li class="asj">
                    <a class="noBorder" href="{% url 'user_index' %}">
                        <i class="mykfw floatRight"></i>
                        {{ user_info.name }}
                    </a>
                    <div class="aimationKfw iMyInfo iMyInfoOk">
                        <em style="width: 58px;"></em>
                        <a href="">
                            <span> 我的消息 </span>
                        </a>
                        <a href="">
                            <span> 我的优惠券 </span>
                        </a>
                        <a href="">
                            <span> 我的评价 </span>
                        </a>
                        <a href="{% url 'logout' %}">
                            <span style="border:none;padding-bottom: 14px;"> 退出登录 </span>
                        </a>
                    </div>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'user_order' %}">我的订单</a>
            </li>
            <li>
                <a class="welcome1" href="{% url "shopping_cart" %}">
                    <i class="gw floatLeft"></i>
                    购物车
                    <em>{% if user_info.shop_number %}{{ user_info.shop_number }}{% else %}0{% endif %}</em>
                    件
                </a>
            </li>
        </ul>
    </div>
</div>