{% include 'master/_nav_top.html' %}
<!-- 导航 -->
<div class="main bgWhite border000 headerOverflowInherit" style="z-index: 10;">
    <!-- logo -->
    <div class="minwidth kfwLogo">
        {% include 'master/_nav_top_logo.html' %}
        <ul class="floatRight overflowhidden marT30">
            <li><i class="zzrz"></i>资质认证</li>
            <li><i class="zfaq"></i>支付安全</li>
            <li><i class="zrfw"></i>保险赔付</li>
            <li><i class="shwy"></i>售后无忧</li>
        </ul>
    </div>
    <!-- logo -->
    <!-- logo -->
    <div class="minwidth kfwNav headerOverflowInherit" style="z-index:100;">
        {% include 'master/_menu_left.html' %}
        {% include 'master/_menu_right.html' %}
    </div>
    <!-- logo -->
</div>
<!-- 导航 -->