<div class="main greyf5f5f5 headerOverflowInherit">
    <div id="loginbar" class="minwidth welcomeKfw headerOverflowInherit">
        <ul class="overflowhidden floatLeft headerOverflowInherit">
            <li class="navLocation">
                <a class="locatinIcon" href="javascript:;">
                    <i class="mykfw floatRight"></i>
                    北京市
                </a>
                <div class="locationLayer">
                    <em></em>
                    <ul></ul>
                </div>
            </li>
        </ul>
        <ul class="overflowhidden floatRight headerOverflowInherit">
            {% if not is_login %}
                <li>
                    <a class="noBorder" href="{% url 'login' %}">登录</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">免费注册</a>
                </li>
            {% else %}
                <li class="asj">
                    <a class="noBorder" href="{% url 'user_index' %}">
                        <i class="mykfw floatRight"></i>
                        chen
                    </a>
                    <div class="aimationKfw iMyInfo iMyInfoOk">
                        <em style="width: 58px;"></em>
                        <a href="">
                            <span> 我的消息 (1) </span>
                        </a>
                        <a href="">
                            <span> 我的优惠券 </span>
                        </a>
                        <a href="">
                            <span> 我的评价 </span>
                        </a>
                        <a href="">
                            <span style="border:none;padding-bottom: 14px;"> 退出登录 </span>
                        </a>
                    </div>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'user_order' %}">我的订单</a>
            </li>
            <li>
                <a class="welcome1" href="">
                    <i class="gw floatLeft"></i>
                    购物车
                    <em>0</em>
                    件
                </a>
            </li>
        </ul>
    </div>
</div>