{% extends 'master_b/layout.html' %}


{% block page_content %}
    <div style="position: absolute; left: 100px;right: 0">
        <div>
            <button type="button" class="btn btn-primary" id="add_Info">添加</button>
        </div>
        <table id="tb_content" class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>名字</th>
                <th>权重</th>
                <th>状态</th>
                <th>是否热门</th>
                <th>url</th>
                <th>员工</th>
                <th>日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for line in nav_obj %}
                <tr for="index_nav" nid="{{ line.id }}">
                    <td for="nid">{{ line.id }}</td>
                    <td for="name">{{ line.name }}</td>
                    <td for="weight">{{ line.weight }}</td>
                    <td for="status">{{ line.get_status_display }}</td>
                    <td for="ishot">{{ line.get_ishot_display }}</td>
                    <td for="url">{{ line.url }}</td>
                    <td for="employee_id">{{ line.employee.name }}</td>
                    <td>{{ line.ctime|date:"Y-m-d H:i:s" }}</td>
                    <td>
                        <a class="initialize btn glyphicon glyphicon-pencil initialize"></a>
                        <a class="initialize btn glyphicon glyphicon-remove initialize"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    {% include 'master_b/_aside_second.html' %}

    <div class="modal fade bs-example-modal-sm marT100" for="nav_add" id="Model_AddInfo" tabindex="-1"
         role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加首页导航</h4>
                </div>
                <div class="modal-body">
                    <form id="fm_body" method="post">
                        {% csrf_token %}

                        <div class="form-group form-inline">
                            <label>权重：</label>
                            <input type="text" class="form-control" placeholder="数字越大越靠前" name="weight">
                            <span style="color: red">{{ form.errors.weight.0 }}</span>
                        </div>
                        <div class="form-group form-inline">
                            <label>名称：</label>
                            <input type="text" name="name" class="form-control">
                            <span style="color: red">{{ form.errors.name.0 }}</span>
                        </div>
                        <div class="form-group form-inline">
                            <label>网址：</label>
                            <input type="text" name="url" class="form-control">
                            <span style="color: red">{{ form.errors.url.0 }}</span>
                        </div>
                        <div class="form-group form-inline">
                            <label>状态：</label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="1" checked="">上架
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="0">下架
                            </label>
                        </div>
                        <div class="form-group form-inline">
                            <label>热门：</label>
                            <label class="radio-inline">
                                <input type="radio" name="ishot" value="0" checked="">不热门
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ishot" value="1">热门
                            </label>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn_save">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm marT100" for="nav_edit" id="Model_EditInfo" tabindex="-1"
         role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改首页导航</h4>
                </div>
                <div class="modal-body">
                    <form id="fm_body1" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="nid" class="form-control">
                        <div class="form-group form-inline">
                            <label>权重：</label>
                            <input type="text" class="form-control" placeholder="数字越大越靠前" name="weight">
                            <span style="color: red">{{ form.errors.weight.0 }}</span>
                        </div>
                        <div class="form-group form-inline">
                            <label>名称：</label>
                            <input type="text" name="name" class="form-control">
                            <span style="color: red">{{ form.errors.name.0 }}</span>
                        </div>
                        <div class="form-group form-inline">
                            <label>网址：</label>
                            <input type="text" name="url" class="form-control">
                            <span style="color: red">{{ form.errors.url.0 }}</span>
                        </div>
                        <div class="form-group form-inline">
                            <label>状态：</label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="1" checked="">上架
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="0">下架
                            </label>
                        </div>
                        <div class="form-group form-inline">
                            <label>热门：</label>
                            <label class="radio-inline">
                                <input type="radio" name="ishot" value="0" checked="">不热门
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ishot" value="1">热门
                            </label>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn_send_add">保存</button>
                </div>
            </div>
        </div>
    </div>
    {% include  'master_b/_delSubmit.html' %}
{% endblock %}

