{% include 'master/footer/_foot_content.html' %}
<div class="footer">
    <div class="footer-inner footer-index minwidth">
        <div class="link">
            友情链接：
            <div class="link-inner">
                <p id="ScrollMe">
                    <br>
                    <a href="" target="blank">德盛业</a>
                    <br>
                </p>
            </div>
        </div>
        <p>Copyright © 1998-2017 shengdeye All Rights Reserved 版权所有：广东顺德拾梦科技有限公司 粤ICP备17019085号-2</p>
    </div>
</div>