<div class="main bgWhite">
    <div class="minwidth">
        <div class="minwidthauto indexBorderB">
            <ul class="index-fo-info overflowhidden">
                <li class="firstLi">
                    <i class="zz"></i>
                    <div class="textImgSeparation">
                        <h3>官网直营</h3>
                        <span>保证服务，直营担保</span>
                    </div>
                </li>
                <li>
                    <i class="zf"></i>
                    <div class="textImgSeparation">
                        <h3>价格真实透明</h3>
                        <span>无隐形消费，真是你我所需</span>
                    </div>
                </li>
                <li>
                    <i class="fw"></i>
                    <div class="textImgSeparation">
                        <h3>全程专人服务</h3>
                        <span>放心创业，省心省事</span>
                    </div>
                </li>
                <li>
                    <i class="sh"></i>
                    <div class="textImgSeparation">
                        <h3>售后无忧</h3>
                        <span>服务出问题客服经理全程跟进</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner footer-index minwidth">
        <p>Copyright © 1998-2017 shengdeye All Rights Reserved 版权所有：广东顺德盛德业科技有限公司 <a href="http://www.miit.gov.cn/">粤ICP备17019085号-1</a></p>
    </div>
</div>