<div class="main bgWhite">
    <div class="main greyf5f5f5">
        <a href="/provider/fuwubaozhang.html" target="_blank">
            <ul class="index-fo-info overflowhidden">
                <li class="firstLi">
                    <i class="zz"></i>
                    <div class="textImgSeparation">
                        <h3>官网直营</h3>
                        <span>保证服务，直营担保</span>
                    </div>
                </li>
                <li>
                    <i class="zf"></i>
                    <div class="textImgSeparation">
                        <h3>价格真实透明</h3>
                        <span>无隐形消费，真是你我所需</span>
                    </div>
                </li>
                <li>
                    <i class="fw"></i>
                    <div class="textImgSeparation">
                        <h3>全程专人服务</h3>
                        <span>放心创业，省心省事</span>
                    </div>
                </li>
                <li>
                    <i class="sh"></i>
                    <div class="textImgSeparation">
                        <h3>售后无忧</h3>
                        <span>服务出问题客服经理全程跟进</span>
                    </div>
                </li>
            </ul>
        </a>
    </div>
    <div class="minwidth">
        <div class="minwidthauto">
            <ul class="overflowhidden index-fo-link">
                <li class="margin0">
                    <h5>关于盛德业</h5>
                    <a target="_blank" href="" rel="nofollow">了解我们</a>
                    <a target="_blank" href="" rel="nofollow">品牌故事</a>
                    <a target="_blank" href="" rel="nofollow">加入我们</a>
                    <a target="_blank" href="" rel="nofollow">联系我们</a>
                </li>
                <li>
                    <h5>常见问题</h5>
                    <a target="_blank" href="" rel="nofollow">新手帮助</a>
                    <a target="_blank" href="" rel="nofollow">支付帮助</a>
                    <a target="_blank" href="" rel="nofollow">开具发票</a>
                    <a target="_blank" href="">知识库</a>
                </li>
                <li>
                    <h5>加盟合作</h5>
                    <a target="_blank" href="" rel="nofollow">商务合作</a>
                    <a target="_blank" href="">友情链接</a>
                </li>
                <li>
                    <div class="floatLeft bd"></div>
                    <div class="floatLeft link-weixi">
                        <i><img src="/static/images/icon/weixin.jpg"></i>
                        <div class="textImgSeparation">
                            <span>扫描二维码</span>
                            <span>关注盛德业微信</span>
                            <span>创业一手掌握</span>
                        </div>
                    </div>
                    <div class="floatLeft link-th">
                        <h5>服务支持</h5>
                        <h3>0757-22104040</h3>
                        <span>
                        周一至周日
                        <em>8:00-22:00</em>
                        </span>
                        <div class="mx-button" onclick="openZixun()">售后服务</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>