{% extends 'news/master/articles_base.html' %}
{% block title %} {{ post.title }}{% endblock %}

{% block page_content %}
    <div class="article-head">
        <h1>
            <span class="tag">{{ post.category.name }}</span>
            <span class="tit">{{ post.title }}</span>
        </h1>
        <p class="author">
            <a href="" target="_blank">{{ post.author.name }}</a>
            <span class="time">{{ post.ctime|date:'Y-m-d H:i:s' }}</span>
            <span class="visit"> 阅读数：{{ post.views }} </span>
        </p>
    </div>
    <div class="article-content">
        {{ post.articlesdetails.content|safe }}
    </div>

{% endblock %}