<html>
<head>
    <title>盛德业后台管理-登陆</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/user_admin.css">
</head>
<body>
<div class="index-navbar min-list-navbar">
    <div class="min-navbar">
        <div class="container clearfix topbar">
            <div class="pull-left clearfix">
                <img class="min-logo pull-left" src="/static/images/logo_small.png">
                <a class="pull-left ml10" href="http://www.shengdeye.com/">返回首页</a>
                <div class="site-nav pull-left clearfix ml10">
                    <div class="pull-left line-1">|</div>


                </div>
            </div>
            <div class="pull-right clearfix"></div>
        </div>
    </div>
</div>
<div class="login-content-text">
    <div id="js-login-ct" class="container login-ct">
        <div id="js-login-main" class="login-main">
            <div class="modal-header">
                <h4 id="myModalLabel" class="modal-title pt10 pb10 clearfix">
                    <a class="lg" href="/login/">登录</a>
                </h4>
            </div>
            <div class="modal-body">
                <div class="login-popup">
                    <div class="login">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul class="mb15">
                                <li class="clearfix login-name">
                                    <i class="pull-left"></i>
                                    <input class="pull-left pl15" placeholder="邮箱" required="" name="email" type="text">
                                </li>
                                <li class="clearfix login-password">
                                    <i class="pull-left"></i>
                                    <input class="pull-left pl15" placeholder="密码" required="" name="password"
                                           type="password">
                                </li>
                            </ul>
                            {% if result_dict.message %}
                                <div style="color: red">
                                    {{ result_dict.message }}
                                </div>
                            {% endif %}
                            <div class="forget clearfix pb15">
                                <label class="pull-left">
                                    <input class="pull-left" autocomplete="off" value="0" name="remember_me"
                                           type="checkbox">
                                    自动登录
                                </label>
                                <a class="pull-right" href="">忘记密码？</a>
                            </div>
                            <input class="btn login-btn mb20" name="submit" value="登录" type="submit">
                        </form>
                        <div class="other clearfix mb20">
                            <a class="pull-right" href="/registered.html">免费注册 ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="index-footer">
        <div class="container">
            <div class="friendly-link pb20">
                <div class="friendly-link pb20">
                    <h5>
                        <a href="" target="_blank" style="font-weight:700">友情链接</a>
                    </h5>
                    <p class="clearfix">
                        <a href="http://www.shengdeye.com/">盛德业</a>
                    </p>
                </div>
            </div>
            <div class="footer-bq clearfix">
                <span class="pl10">Copyright © 1998-2017 shengdeye All Rights Reserved 版权所有：广东顺德拾梦科技有限公司 粤ICP备17019085号-2 </span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>