{% extends 'wap/base/base.html' %}

{% block content %}
    <div class="weui-grids">
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type1.png" alt="">
            </div>
            <p class="weui-grid__label">
                开公司
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type2.png" alt="">
            </div>
            <p class="weui-grid__label">
                财税服务
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type3.png" alt="">
            </div>
            <p class="weui-grid__label">
                注册商标
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type4.png" alt="">
            </div>
            <p class="weui-grid__label">
                办社保
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type6.png" alt="">
            </div>
            <p class="weui-grid__label">
                办著作权
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type7.png" alt="">
            </div>
            <p class="weui-grid__label">
                申请专利
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type5.png" alt="">
            </div>
            <p class="weui-grid__label">
                其他
            </p>
        </a>
        <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="/static/wap/images/home_type8.png" alt="">
            </div>
            <p class="weui-grid__label">
                全部分类
            </p>
        </a>
    </div>
    {% include 'wap/base/__footer.html' %}
{% endblock %}