{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>找回密码-盛德业</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login_baseold.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/login_home.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/ui-dialog.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">

</head>

<body>
{% include 'master/_nav_top.html' %}
<!-- 导航 -->
<div class="main bgWhite border000 headerOverflowInherit" style="z-index: 10;">
    <!-- logo -->
    <div class="minwidth kfwLogo">
        <a class="floatLeft" href="/">
            <img src="/static/images/icon/index_logo.jpg" alt="德盛业">
        </a>
        <div class="logo-sub">找回密码</div>
    </div>
</div>
<!-- 导航 -->
<div class="loginLayout">
    <div class="llMain">
        <div class="web-login-pass">
            <a class="pass-1 pass-11">输入手机号</a>
            {#            <a class="pass-2">设置新密码</a>#}
            <a class="pass-3">完成</a>
        </div>
        <div class="back-pass" style="width: 53%;">
            <form id='form1' method="post">
                <ul class="relative" style="left:100px;">
                    <li class="register-li">
                        {% csrf_token %}
                        <span>
                            <input class="valid" maxlength="11" name="phone" type="text">
                        </span>
                        <label class="register-li-span">手机号码</label>
                        <div class="register-li-1" style="display:none;"></div>
                        {% if form.errors.phone.0 %}
                            <div class="register-li-1 tishi-1">{{ form.errors.phone.0 }}</div>
                        {% endif %}
                    </li>
                    <li class="register-li">
                        <span>
                        <input class="reg-yzm valid" name="code" type="text">
                        </span>
                        <label class="register-li-span" for="find_code">验证码</label>
                        <img id="verifyCode" class="yzimg" src="{% url 'get_captcha' %}" onclick="changeImg(this);">
                        <img class="reimg" src="/static/images/icon/refresh.png" onclick="changeImg(this);">
                        {% if form.errors.code.0 %}
                            <div class="register-li-1 tishi-1">{{ form.errors.code.0 }}</div>
                        {% endif %}
                    </li>
                    <li class="register-li">
                        <span>
                        <input class="reg-dxyzm" name="verify_code" type="text">
                        </span>
                        <label class="register-li-span" for="validate_code">短信验证码</label>
                        <a id="user_getcode" class="reg-click">点击获取</a>
                        {% if form.errors.verify_code.0 %}
                            <div class="register-li-1 tishi-1">{{ form.errors.verify_code.0 }}</div>
                        {% endif %}
                    </li>
                    <li class="register-li">
                        <span>
                        <input id="reset_password" name="password" type="password">
                        </span>
                        <label for="reset_password" class="register-li-span">输入新密码</label>
                        {% if form.errors.password.0 %}
                            <div class="register-li-1 tishi-1">{{ form.errors.password.0 }}</div>
                        {% endif %}
                    </li>
                    <li class="register-li querenmima">
                        <span>
                        <input id="reset_confirmpw" name="password2" type="password">
                        </span>
                        <label for="reset_confirmpw" class="register-li-span">确认密码</label>
                        {% if form.errors.password2.0 %}
                            <div class="register-li-1 tishi-1">{{ form.errors.password2.0 }}</div>
                        {% endif %}
                    </li>
                    <li class="register-li">
                        <button id="submitbtn3" class="form-buttom" type="submit">下一步</button>
                    </li>
                </ul>
            </form>
            <ul id="forgetpassdiv" style="display: none;" class="inputLayout back-panel form-panel relative" style="">
                <li class="isOk">
                    <img src="/static/images/icon/pass-0.png" alt="">
                    <h2>恭喜，新密码已修改成功！</h2>
                    <h4>现在，用新密码去登录吧！</h4>
                </li>
                <li class="login-li">
                    <a class="" href="{% url 'login' %}">去登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner minwidth">
        <p>Copyright © 1998-2017 shengdeye All Rights Reserved 版权所有：广东顺德拾梦科技有限公司 粤ICP备17019085号-2</p>
    </div>
</div>
<script src="/static/js/jquery-3.1.1.js"></script>
{#<script src="/static/js/user_index.js"></script>#}
<script>
    function changeImg(ths) {
        ths.src = ths.src + '?'
    }
</script>
<script>
    clickState = 0;


    $(function () {
        ClickButton();

    });

    function ClickButton() {

        $('#user_getcode').click(function () {
            if (clickState == 1) {
            }
            else {
                clickState = 1;
                console.log(clickState);
                var phone = $('#form1 input[name="phone"]').val();
                console.log(phone);
                if (phone) {
                    var url = "user/get_verify_code.html?" + "phone=" + phone + '&type=forgetpass';
                    setTimeout(Send_Ajax_VerifyCode(url, this), 60000);
                }
                else {
                    var phone_error = $('#form1 input[name="phone"]').parent().siblings('.register-li-1');
                    phone_error.attr('style', '');
                    phone_error.text('');
                    phone_error.text('请输入手机号码');
                    clickState = 0
                }
            }
        });
    }
    function Send_Ajax_Info() {
        $.ajax({
            url: url,
            type: 'POST',
            data: '',
            success: function () {

            }
        })
    }
    function Send_Ajax_VerifyCode(url, ths) {
        $.ajax({
            url: url,
            type: 'GET',
            success: function (arg) {
                console.log(arg);
                if (arg['status']) {
                    $(ths).parent().append('<span class="verCodePrompt">已发送，1分钟后可重新获取。</span>')
                    curCount = count;
                    {#                    $("#user_getcode").text(curCount + "秒后重发");#}
                    {#                    InterValObj = window.setInterval(SetRemainTime, 1000);#}
                }
                else {
                    var phone_error = $('#form1 input[name="phone"]').parent().siblings('.register-li-1');
                    phone_error.attr('style', '');
                    phone_error.text('');
                    phone_error.text('请输入手机号码');
                    phone_error.text(arg['message'])
                }
                clickState = 0
            }
        });

    }
</script>
</body>
