{% extends 'master/layout.html' %}

{% block title %} {{ title }}{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/js/bxslider/jquery.bxslider.css">
    <link type="text/css" rel="stylesheet" href="/static/css/home_index1.css">
{% endblock %}


{% block page_content %}
    {% include 'master/_carousel.html' %}
    {#    <div class="statistics">#}
    {#        <ul class="w_1160">#}
    {#            <li>#}
    {#                <span>45590</span>#}
    {#                家企业已加入#}
    {#            </li>#}
    {#            <li>#}
    {#                <span id="zcgsCount">16160</span>#}
    {#                个注册公司用户#}
    {#            <li>#}
    {#            <li>#}
    {#                <span id="dljzCount">24645</span>#}
    {#                家选择记账报税#}
    {#            </li>#}
    {#            <li>#}
    {#                <span>2？？？？</span>#}
    {#                位即将成为多有米用户#}
    {#            </li>#}
    {#        </ul>#}
    {#    </div>#}
    <div class="minwidth">
        <div class="section-title">
            <span class="line"></span>
            <p class="name">创业必选服务</p>
        </div>
        <div class="section-body">
            <div class="grid-box">
                {% for line in recommend_obj %}
                    <div class="grid-item">
                        <div class="pd">
                            <h4 class="title">{{ line.p_name }}</h4>
                            <p class="des">{{ line.p_seo_description }}</p>
                            <p class="price">
                                <span>¥</span>
                                {{ line.p_price }}元
                            </p>
                            <div class="">
                                <a class="btn-info detail" href="{% url 'product_index' line.id %}"
                                   target="_blank">查看详情</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="minwidth">
        <div class="section-title" style="margin-top: 20px;margin-bottom: 5px">
            <span class="line"></span>
            <p class="name">创业新闻资讯</p>
        </div>
        <div class="knowledge-base">
            <div class="knowledge-content">
                <div class="knowledge-details clearfix" style="display: block;">
                    <div class="knowledge-quick floatLeft">
                        <div class="knowledge-quick-top">
                            <span>高人带你飞</span>
                            <h3>创业菜鸟攻略</h3>
                            <p>是不是干货看看就知道</p>
                        </div>
                        <ul class="knowledge-quick-list">
                            {% for line in articles_list %}
                                <li>
                                    <b></b>
                                    <p>
                                        <a href="/news/{{ line.category_id }}-{{ line.id }}.html"
                                           target="_blank">{{ line.title|slice:"11" }}.....</a>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <ul class="knowledge-list article-list clearfix">
                        <li class="boxAnimation">
                            <p class="img">
                                <a href="/knowledge/2016112301.html" target="_blank"
                                   style="background: url('http://cdn.kuaifawu.com/thumb/2016-11/5834ff7b346ff.jpg') center no-repeat;"></a>
                            </p>
                            <div class="content">
                                <p class="label">
                                    <span>财会税务</span>
                                </p>
                                <h4>
                                    <a href="/knowledge/2016112301.html" target="_blank">个税专项抵扣渐近 舆论担心会让有钱人更有钱</a>
                                </h4>
                                <p class="tip">近日有报道称，个税改革正在提速推进，方案有望在明年上半...</p>
                                <div class="user clearfix">
                                    <div class="name">
                                        <p>2016-11-23</p>
                                    </div>
                                    <div class="reading">1560</div>
                                </div>
                            </div>
                        </li>
                        <li class="boxAnimation">
                            <p class="img">
                                <a href="/knowledge/2016112301.html" target="_blank"
                                   style="background: url('http://cdn.kuaifawu.com/thumb/2016-11/5834ff7b346ff.jpg') center no-repeat;"></a>
                            </p>
                            <div class="content">
                                <p class="label">
                                    <span>财会税务</span>
                                </p>
                                <h4>
                                    <a href="/knowledge/2016112301.html" target="_blank">个税专项抵扣渐近 舆论担心会让有钱人更有钱</a>
                                </h4>
                                <p class="tip">近日有报道称，个税改革正在提速推进，方案有望在明年上半...</p>
                                <div class="user clearfix">
                                    <div class="name">
                                        <p>2016-11-23</p>
                                    </div>
                                    <div class="reading">1560</div>
                                </div>
                            </div>
                        </li>
                        <li class="boxAnimation">
                            <p class="img">
                                <a href="/knowledge/2016112301.html" target="_blank"
                                   style="background: url('http://cdn.kuaifawu.com/thumb/2016-11/5834ff7b346ff.jpg') center no-repeat;"></a>
                            </p>
                            <div class="content">
                                <p class="label">
                                    <span>财会税务</span>
                                </p>
                                <h4>
                                    <a href="/knowledge/2016112301.html" target="_blank">个税专项抵扣渐近 舆论担心会让有钱人更有钱</a>
                                </h4>
                                <p class="tip">近日有报道称，个税改革正在提速推进，方案有望在明年上半...</p>
                                <div class="user clearfix">
                                    <div class="name">
                                        <p>2016-11-23</p>
                                    </div>
                                    <div class="reading">1560</div>
                                </div>
                            </div>
                        </li>
                        <li class="boxAnimation">
                            <p class="img">
                                <a href="/knowledge/2016112301.html" target="_blank"
                                   style="background: url('http://cdn.kuaifawu.com/thumb/2016-11/5834ff7b346ff.jpg') center no-repeat;"></a>
                            </p>
                            <div class="content">
                                <p class="label">
                                    <span>财会税务</span>
                                </p>
                                <h4>
                                    <a href="/knowledge/2016112301.html" target="_blank">个税专项抵扣渐近 舆论担心会让有钱人更有钱</a>
                                </h4>
                                <p class="tip">近日有报道称，个税改革正在提速推进，方案有望在明年上半...</p>
                                <div class="user clearfix">
                                    <div class="name">
                                        <p>2016-11-23</p>
                                    </div>
                                    <div class="reading">1560</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {% include 'master/footer/_footer_index.html' %}


{% endblock %}

{% block scripts %}
    <script src="/static/js/bxslider/jquery.bxslider.js"></script>
    <script>
        $('.bxslider').bxSlider({
            auto: true,
        });

        $($('.kfwNaSubSubIsHome').removeClass('hide'))
    </script>
{% endblock %}