{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>登陆-盛德业</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login_baseold.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/login_home.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/ui-dialog.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">

</head>

<body>
{% include 'master/_nav_top.html' %}
<!-- 导航 -->
<div class="main bgWhite border000 headerOverflowInherit" style="z-index: 10;">
    <!-- logo -->
    <div class="minwidth kfwLogo">
        <a class="floatLeft" href="/">
            <img src="/static/images/icon/index_logo.jpg" alt="德盛业">
        </a>
        <div class="logo-sub">登陆</div>
    </div>
</div>
<!-- 导航 -->
<div class="loginLayout">
    <div class="llMain">
        <div class="group mlLe paddingTop">
            <form method="post">
                {% csrf_token %}
                <ul class="relative" style="left:100px;">
                    <li class="register-li">
                        <span>
                            <input  maxlength="11" name="phone" type="text">
                        </span>
                        <label class="register-li-span" for="usermobile">手机号码</label>
                        <div class="register-li-1 tishi-1" style="display: none">请输入手机号</div>
                        <div class="register-li-3 chenggong-1"></div>
                    </li>
                    <li class="register-li">
                        <span>
                            <input id="password" name="password" type="password">
                        </span>
                        <label class="register-li-span" for="password">密码</label>
                        <div class="register-li-1 tishi-2" style="display: none">请输入密码</div>
                        <div class="register-li-3 chenggong-2"></div>
                    </li>
                    <li class="register-li-checkbox">
                        <label for="">
                            <input name="remember" value="1" type="checkbox">
                            一周内自动登录
                        </label>
                        <a class="forget-pass" href="{% url 'forgetpass' %}" target="_blank">忘记密码？</a>
                    </li>
                    {% if error %}
                        <li class="register-li">
                            <span style="color:  red">{{ error }}</span>
                        </li>
                    {% endif %}
                    <li class="register-li">
                        <button id="regButton" class="reg-now" type="submit">登录</button>
                    </li>
                </ul>
            </form>
        </div>
        <div class="group mlRi mlRibg2">
            <p>还没有盛德业账号？</p>
            <p class="reg-login-p">
                <a class="reg-login" href="{% url 'register' %}">立即注册 >></a>
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner minwidth">
        <p>Copyright © 1998-2017 shengdeye All Rights Reserved 版权所有：广东顺德拾梦科技有限公司 粤ICP备17019085号-2</p>
    </div>
</div>
</body>
