{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>注册-盛德业</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login_baseold.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/login_home.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/ui-dialog.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}">

</head>

<body>
{% include 'master/_nav_top.html' %}
<!-- 导航 -->
<div class="main bgWhite border000 headerOverflowInherit" style="z-index: 10;">
    <!-- logo -->
    <div class="minwidth kfwLogo">
        <a class="floatLeft" href="/">
            <img src="/static/images/icon/index_logo.jpg" alt="德盛业">
        </a>
        <div class="logo-sub">注册</div>
    </div>
</div>
<!-- 导航 -->
<div class="loginLayout">
    <div class="llMain">
        <div class="group mlLe">
            <form method="post">
                {% csrf_token %}
                <ul class="relative" style="left:100px;">
                    <li class="register-li">
                        <p>
                            <input id="reg_mobile" value="{{ form.data.phone }}" name="phone" maxlength="11"
                                   type="text">
                        </p>
                        <label for="reg_mobile" style="left: -90px;">手机号码</label>
                        <div class="register-li-2 tishi-div-2">重要，服务专员通过此号联系您</div>
                        {% if form.errors.phone.0 %}
                            <div class="register-li-1 tishi-div-3">{{ form.errors.phone.0 }}</div>
                        {% endif %}

                    </li>
                    <li class="register-li tupianyzm">
                        <span>
                        <input id="yzm" class="reg-yzm" name="code" type="text">
                        </span>
                        <label for="yzm" style="left: -90px;">验证码</label>
                        <img src="{% url 'get_captcha' %}" width="88px" height="32px" onclick="changeImg(this);">
                        <img class="reimg" src="/static/images/icon/refresh.png" onclick="changeImg(this);">
                        <div class="register-li-2 tishi-div-2">请输入图片上的验证码</div>
                        {% if form.errors.code.0 %}
                            <div class="register-li-1 tishi-div-3">{{ form.errors.code.0 }}</div>
                        {% endif %}

                    </li>
                    <li class="register-li">
                        <span>
                        <input class="reg-dxyzm" name="verify_code" type="text">
                        </span>
                        <label style="left: -90px;">短信验证码</label>
                        <a id="user_getcode" for="register" class="reg-click" style="width:86px;">点击获取</a>
{#                        <div class="register-li-2 tishi-div-2">请输入手机收到的短信验证码</div>#}
                        {% if form.errors.verify_code.0 %}
                            <div class="register-li-1 tishi-div-3">{{ form.errors.verify_code.0 }}</div>
                        {% endif %}

                    </li>
                    <li class="register-li">
                        <span>
                        <input id="mail" name="email" type="text" value="{{ form.data.email }}">
                        </span>
                        <label for="mail" style="left: -90px;">常用邮箱</label>
                        {#                        <div class="register-li-2 tishi-div-2" style="display: none;">重要，服务中的文件将发送到此邮箱</div>#}
                        {% if form.errors.email.0 %}
                            <div class="register-li-1 tishi-div-3" style="">{{ form.errors.email.0 }}</div>
                        {% endif %}
                        <div class="register-li-3" style="display: none;"></div>
                    </li>
                    <li class="register-li">
                        <span>
                        <input id="name" name="name" value="{{ form.data.name }}" type="text">
                        </span>
                        <label for="name" style="left: -90px;">姓名/称呼</label>
                        {#                        <div class="register-li-2 tishi-div-2" style="display: none;">如何称呼您？</div>#}
                        {% if form.errors.name.0 %}
                            <div class="register-li-1 tishi-div-3" style="">{{ form.errors.name.0 }}</div>
                        {% endif %}

                    </li>
                    <li class="register-li">
                        <span>
                        <input id="password" name="password" autocomplete="off" value="" type="password">
                        </span>
                        <label for="password" style="left: -90px;">设置密码</label>
                        {% if form.errors.password.0 %}
                            <div class="register-li-1 tishi-div-3" style="">{{ form.errors.password.0 }}</div>
                        {% endif %}
                        <div class="register-li-3" style="display: none;"></div>
                    </li>
                    <li class="register-li">
                        <span>
                        <input id="password" name="password2" autocomplete="off" value="" type="password">
                        </span>
                        <label for="password" style="left: -90px;">确认密码</label>
                        {% if form.errors.password2.0 %}
                            <div class="register-li-1 tishi-div-3" style="">{{ form.errors.password2.0 }}</div>
                        {% endif %}
                        <div class="register-li-3" style="display: none;"></div>
                    </li>
                    <li class="register-li">
                        <button id="regButton" class="reg-now" type="submit">立即注册</button>
                    </li>
                    <li class="register-li-p">
                        <p>
                            点击“立即注册”，表示您同意并愿意遵守
                            <a class="reg-xieyi" href="" target="_blank">《盛德业服务协议》</a>
                        </p>
                    </li>
                </ul>
            </form>
        </div>
        <div class="group mlRi mlRibg2">
            <p>还没有盛德业账号？</p>
            <p class="reg-login-p">
                <a class="reg-login" href="{% url 'login' %}">直接登陆 >></a>
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner minwidth">
        <p>Copyright © 1998-2017 shengdeye All Rights Reserved 版权所有：广东顺德拾梦科技有限公司 粤ICP备17019085号-2</p>
    </div>
</div>
<script src="/static/js/jquery-3.1.1.js"></script>
<script src="/static/js/user_index.js"></script>
<script>
    function changeImg(ths) {
        ths.src = ths.src + '?'
    }
</script>
</body>
