<div class="modal fade bs-example-modal-sm" id='submit_del_con' tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" style="margin-top: 150px;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a type="button" class="close glyphicon glyphicon-remove btn_cancel" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;margin-top: 5px"></a>
                    <h4>信息确认删除？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_cancel" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="del_con">删除</button>
                </div>
            </div>

        </div>
    </div>