<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
            <img src="/static/wap/images/home_bar1_sel.png" alt="">
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="/static/wap/images/home_bar2_no.png" alt="">
        </div>
        <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="/static/wap/images/home_bar3_no.png" alt="">
        </div>
        <p class="weui-tabbar__label">订单</p>
    </a>
    <a href="{% url 'wap_mycenter' %}" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <img src="/static/wap/images/home_bar4_no.png" alt="">
        </div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
</div>