<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="/static/wap/plugins/ydui/css/ydui.css"/>
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="/static/wap/plugins/ydui/js/ydui.flexible.js"></script>
</head>
<body>
<div class="g-view">
    <!-- 使用：样式模块以按钮为例 -->
    <section class="g-flexview">

        <header class="m-navbar">
            <a href="#" class="navbar-item"><i class="back-ico"></i></a>
            <div class="navbar-center"><span class="navbar-title">NavBar</span></div>
        </header>

        <div class="g-scrollview">
            {% block content %}{% endblock %}
        </div>

        <footer class="m-tabbar">
            <a href="#" class="tabbar-item tabbar-active">
            <span class="tabbar-icon">
                <i class="icon-home"></i>
            </span>
                <span class="tabbar-txt">首页</span>
            </a>
            <a href="#" class="tabbar-item">
            <span class="tabbar-icon">
                <i class="icon-shopcart-outline"></i>
            </span>
                <span class="tabbar-txt">购物车</span>
            </a>
            <a href="#" class="tabbar-item">
            <span class="tabbar-icon">
                <i class="icon-ucenter-outline"></i>
            </span>
                <span class="tabbar-txt">个人中心</span>
            </a>
        </footer>
    </section>
</div>
<!-- 引入jQuery 2.0+ -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 引入YDUI脚本 -->
<script src="/static/wap/plugins/ydui/js/ydui.js"></script>
<script>
    !function ($) {
        $('#J_Btn').on('click', function () {
            /* 使用：js模块以dialog为例 */
            YDUI.dialog.alert('我有一个小毛驴我从来也不骑！');
        });
    }(jQuery);
</script>
</body>
</html>